@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">
        
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title style="color:purple">Sambucol</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/cropped-fevicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css"> 
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css"> 
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <!-- Page Wrapper -->
    <div class="page-wrapper">

         <!-- Header Main Area -->
        <header class="site-header header-style-1">
			@await Component.InvokeAsync("TopInfoComponent")
			@await Component.InvokeAsync("MenuComponent")
		 </header>
         <!-- Header Main Area End Here -->

         <!-- Title Bar -->
         <div class="pbmit-title-bar-wrapper">
            <div class="container">
               <div class="pbmit-title-bar-content">
                  <div class="pbmit-title-bar-content-inner">
                     <div class="pbmit-tbar">
                        <div class="pbmit-tbar-inner container">
                           <h1 class="pbmit-tbar-title">Sambucol</h1>
                        </div>
                     </div>
                     <div class="pbmit-breadcrumb">
                        <div class="pbmit-breadcrumb-inner">
                           <span><a title="" href="#" class="home"><span>Anasayfa</span></a></span>
                           <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                           <span><span class="post-root post post-post current-item">Sambucol</span></span>
                        </div>
                     </div>
                  </div>
               </div> 
            </div> 
         </div>
         <!-- Title Bar End-->

         <!-- Page Content -->
         <div class="page-content">  

            <!-- Our Team Member -->
            <section class="section-lg">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-01b.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Anna Willey</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Cardiologist</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>  
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-02b.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Edward Berry</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Assistant Surgeon</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-03b.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Eliza William</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Medical Specialist</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-04.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Charlie Smith</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Heart Surgeon</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-05.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Maria Mitchell</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Senior Cardiologist</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-sm-12 col-md-4">
                        <article class="pbmit-team-style-2">
                           <div class="pbminfotech-post-item">
                              <div class="pbminfotech-team-image-box">
                                 <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                       <li class="pbmit-social-li pbmit-social-facebook">
                                          <a href="#" title="Facebook" target="_blank">
                                             <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-twitter">
                                          <a href="#" title="Twitter" target="_blank">
                                             <span><i class="pbmit-base-icon-twitter"></i></span>
                                          </a>
                                       </li>
                                       <li class="pbmit-social-li pbmit-social-instagram">
                                          <a href="#" title="Instagram" target="_blank">
                                             <span><i class="pbmit-base-icon-instagram"></i></span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/team-06.jpg" class="img-fluid" alt="">
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <h3 class="pbmit-team-title">
                                    <a href="team-member-details.html">Dr. Henry Martin</a>
                                 </h3>
                                 <div class="pbminfotech-box-team-position">
                                    <div class="pbminfotech-box-team-position">Chief Surgeon</div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div> 
               </div>
            </section>
            <!-- Our Team Member End -->

         </div>
         <!-- Page Content End -->

      <!-- Footer -->
      <footer class="footer site-footer">
         <div class="footer-wrap pbmit-footer-big-area">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-md-9">
                     <div class="d-md-flex align-items-center">
                        <div class="pbmit-footer-logo">
                                    <img class="pbmit-main-logo" src="~/images/logo-1.png" alt="Cardioly Demo1">
                        </div>
                        <div class="d-md-flex">
                           <div class="pbmit-footer-boxes col-md-6">
                              <div class="pbmit-footer-contact-info">
                                 <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                    <i class="pbmit-base-icon-location"></i>
                                    <div class="pbmit-footer-contact-info-wrap">
                                       <span class="pbmit-label">Our Clinic Address</span> 456, Lorem Street, USA
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="pbmit-footer-boxes col-md-6">
                              <div class="pbmit-footer-contact-info">
                                 <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                    <i class="pbmit-base-icon-phone"></i>
                                    <div class="pbmit-footer-contact-info-wrap">
                                       <span class="pbmit-label">Phone Number</span> (+00)888.666.88
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 pbmit-footer-social-icon">
                     <ul class="pbmit-social-links">
                        <li class="pbmit-social-li pbmit-social-facebook">
                           <a href="#" target="_blank">
                              <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                           </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-twitter">
                           <a href="#" target="_blank">
                              <span><i class="pbmit-base-icon-twitter"></i></span>
                           </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-linkedin">
                           <a href="#" target="_blank">
                              <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                           </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-youtube">
                           <a href="#" target="_blank">
                              <span><i class="pbmit-base-icon-youtube-play"></i></span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="pbmit-footer-widget-area">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-lg-3">
                     <div class="widget pbmit-float-menu">
                        <h3 class="widget-title">Information</h3>
                        <ul>
                           <li class="menu-item ">
                              <a href="#">About Us</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Customer</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Service</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Collections</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Best Seller</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Careers</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Privacy Policy</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Change Location</a>
                           </li>
                           <li class="menu-item ">
                              <a href="#">Expert Tips</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="pbmit-two-widget">
                        <div class="widget">
                           <h3 class="widget-title">Latest News</h3>
                           <ul class="pbmit-rpw-list">
                              <li>
                                 <a href="blog-details.html">
                                    <span class="pbmit-rpw-img">
                                                    <img src="~/images/blog/blog-01s.jpg" class="img-fluid" alt="">
                                    </span>
                                 </a>
                                 <span class="pbmit-rpw-content">
                                    <span class="pbmit-rpw-title"><a href="blog-details.html">Is Running Really Good for the Heart?</a></span>
                                    <span class="pbmit-rpw-date"><a href="blog-details.html">August 27, 2020</a></span>
                                 </span>
                              </li>
                              <li>
                                 <a href="blog-details.html">
                                    <span class="pbmit-rpw-img">
                                       <img src="~/images/blog/blog-02s.jpg" class="img-fluid" alt="" >
                                    </span>
                                 </a>
                                 <span class="pbmit-rpw-content">
                                    <span class="pbmit-rpw-title">
                                       <a href="blog-details.html">Modeling data increase to endovascular therapy</a>
                                    </span>
                                    <span class="pbmit-rpw-date">
                                       <a href="blog-details.html">August 27, 2020</a>
                                    </span>
                                 </span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <div>Sign up today for hints, tips and the latest product news
                           <div class="pbmit-footer-newsletter">
                              <input type="email" name="EMAIL" placeholder="Your email address" required="">	
                              <button type="submit" value="Sign up">Submit 
                                 <i class="pbmit-base-icon-paper-plane"></i>
                              </button> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="widget">
                        <h3 class="widget-title">Opening Hours</h3>
                        <ul class="pbmit-timelist-list">
                           <li><span class="pbmit-timelist-li-title">Mon – Tue</span>
                              <span class="pbmit-timelist-li-value">10:00 – 18:00</span>
                           </li>
                           <li><span class="pbmit-timelist-li-title">Wed – Thur</span>
                              <span class="pbmit-timelist-li-value">10:00 – 17:00</span>
                           </li>
                           <li><span class="pbmit-timelist-li-title">Fri – Sat</span>
                              <span class="pbmit-timelist-li-value">10:00 – 12:30</span>
                           </li>
                           <li><span class="pbmit-timelist-li-title">Saturday</span>
                              <span class="pbmit-timelist-li-value">10:00 – 12:30</span>
                           </li>
                           <li><span class="pbmit-timelist-li-title">Sunday</span>
                              <span class="pbmit-timelist-li-value">Closed</span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pbmit-footer-section pbmit-bg-color-global">
            <div class="container">
               <div class="pbmit-footer-text-inner">   
                  <div class="pbmit-footer-copyright-box"> Copyright © 2022 
                     <a href="index.html">Cardioly Demo1</a>, All Rights Reserved.
                  </div>
                  <div class="pbmit-footer-copyright-box mt-sm-3">
                     <ul>
                        <li class="pbmit-footer-menu li">
                           <a href="faq.html">FAQ</a>
                        </li>
                        <li class="pbmit-footer-menu li">
                           <a href="about-us1.html">About Us 1</a>
                        </li>
                        <li class="pbmit-footer-menu li">
                           <a href="contact-us.html">Contact Us</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>	
      </footer>
      <!-- Footer End -->

   </div>
   <!-- Page Wrapper End -->

   <!-- Search Box Start Here -->
   <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer"> 
         <form class="pbmit-site-searchform">
            <input type="search" class="form-control field searchform-s" name="s" placeholder="Type Word Then Press Enter">
            <button type="submit"><i class="pbmit-base-icon-search-1"></i></button>
         </form>
      </div>
   </div>
   <!-- Search Box End Here -->
 
    <!-- JS
        ============================================ -->

    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script> 
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
</body>
</html>


