@{
    ViewData["Title"] = "urunbilgisi";
    Layout = "~/Views/Shared/Sub_Page.cshtml";
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dr. Anna Willey – Cardioly Demo HTML Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/cropped-fevicon.png">

    <!-- CSS
        ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Header Main Area -->
        <!-- Header Main Area End Here -->
        <!-- Title Bar -->
        <div class="pbmit-title-bar-wrapper">
            <div class="container">
                <div class="pbmit-title-bar-content">
                    <div class="pbmit-title-bar-content-inner">
                        <div class="pbmit-tbar">
                            <div class="pbmit-tbar-inner container">
                                <h1 class="pbmit-tbar-title"> Team Member </h1>
                            </div>
                        </div>
                        <div class="pbmit-breadcrumb">
                            <div class="pbmit-breadcrumb-inner">
                                <span><a title="" href="#" class="home"><span>Cardioly</span></a></span>
                                <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                                <span><span class="post-root post post-post current-item">  Team Member </span></span>
                                <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                                <span><span class="post-root post post-post current-item">Dr. Anna Willey</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Title Bar End-->
        <!-- Page Content -->
        <div class="page-content">

            <!-- Team-member Details start -->
            <section class="section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="pbmit-team-details">
                                <div class="row g-3">
                                    <div class="col-lg-4">
                                        <div class="pbmit-team-img">
                                            <img src="~/images/team/Sambucol Plus Şekersiz Likit ürün.jpg" class="w-100" alt="">
                                            <div class="pbmit-team-summary">
                                                <h2 class="pbmit-team-title">Sambucol Plus Şekersiz Likit</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="pbmit-short-description">
                                            <h3>Sambucol Plus Şekersiz Likit</h3>
                                            Sambucol Plus Şekersiz Kara Mürver, C Vitamini ve Çinko İçeren Sıvı Takviye Edici Gıda.

                                            4-10 yaş grubu çocukların ve 11 yaş ve üzeri yetişkinlerin kullanımına uygundur.
                                        </div>
                                        <ul class="pbmit-single-team-info">
                           
                                            <li>
                                                <label>Detaylı bilgi için :</label>
                                                <a href="http://www.creativesplanet.com">www.sambucol.com.tr</a>
                                            </li>
                                            <li>
                                                <label >Perakende Satış Fiyatı</label>
                                                <a>350 ₺</a>
                                            </li>
                                        </ul>
                                        <br />
                                        <h5>içerik</h5>
                                        <p class="mb-5">
                                            Saf Su, Kara Mürver Suyu (Meyve), Stabilizör: Sorbitol. L-Askorbik Asit (C Vitamini), Aroma Verici: Ahududu (Meyve). Asitlik Düzenleyici: Sitrik Asit. Çinko Glukonat (Çinko). Koruyucu: Potasyum Sorbat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team-member Details end -->

        </div>
        <!-- Page Content End -->
    </div>
    <!-- Page Wrapper End -->
    <!-- JS
        ============================================ -->
    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script>
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
</body>

</html>
