

    <div class="pbmit-header-overlay">
        <div class="container-fuild">
            <div class="pre-header">
                <div class="container-fuild">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="pbmit-pre-header-left">
                            <span class="pbmit-label">
                                Book Online
                                <i class="pbmit-base-icon-right"></i>
                            </span>
                            <span>You can request appointment(pending confirmation) in 24 hours</span>
                        </div>
                        <div class="pbmit-pre-header-right">
                            <ul class="pbmit-contact-info">
                                <li>
                                    <i class="pbmit-base-icon-mail-alt"></i> Email  : Support@@.themesion.com
                                </li>
                                <li>
                                    <i class="pbmit-base-icon-phone-volume-solid"></i> Phone : (+00)888.666.88
                                </li>
                                <li>
                                    <ul class="pbmit-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                            <a href="#" target="_blank">
                                                <i class="pbmit-base-icon-facebook-squared"></i>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-twitter">
                                            <a href="#" target="_blank">
                                                <i class="pbmit-base-icon-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                            <a href="#" target="_blank">
                                                <i class="pbmit-base-icon-linkedin-squared"></i>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-youtube">
                                            <a href="#" target="_blank">
                                                <i class="pbmit-base-icon-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>