<section class="service-section-home2">
    <div class="container">
        <div class="row">
            <div class="pbmit-heading-subheading text-center">
                <h1 class="pbmit-title" >- Markalarımız -</h1>
                <div class="mt-2">
                  @*   We merge two services consulting  and brilliant client Services for the patient healthcare. Used <br> latest technology in hospital. *@
                </div>
            </div>
            <div class="col-md-4">
                <article class="pbmit-service-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-featured-wrapper">
                            <img src="~/images/services/logoSambucol.png" class="img-fluid" alt="">
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbminfotech-box-content-inner">
                                <div class="pbmit-service-cat">
                                    <a href="#" rel="tag">C vitamini ve çinko</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html" style="color:purple">Sambucol</a>
                                </h3>
                                <div class="pbmit-service-content">
                                    <p>The heart care hospital have best machine with the specialist doctors.</p>
                                </div>
                                <div class="pbmit-service-btn">
                                    <a class="pbmit-service-btn-a" href="service-details.html">
                                        <span>İncele</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="pbmit-service-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-featured-wrapper">
                            <img src="~/images/services/logoHolibrange.png" class="img-fluid" alt="">
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbminfotech-box-content-inner">
                                <div class="pbmit-service-cat">
                                    <a href="#" rel="tag">Saving Lives</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html" style="color:#FF5621">Haliborange</a>
                                </h3>
                                <div class="pbmit-service-content">
                                    <p>The heart care hospital have best machine with the specialist doctors.</p>
                                </div>
                                <div class="pbmit-service-btn">
                                    <a class="pbmit-service-btn-a" href="service-details.html">
                                        <span>incele</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="pbmit-service-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-featured-wrapper">
                            <img src="~/images/services/logoProprobiotic.png" class="img-fluid" alt="">
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbminfotech-box-content-inner">
                                <div class="pbmit-service-cat">
                                    <a href="#" rel="tag">Great Care</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html" style="color:#0077cc">Pro-probiotic</a>
                                </h3>
                                <div class="pbmit-service-content">
                                    <p>The heart care hospital have best machine with the specialist doctors.</p>
                                </div>
                                <div class="pbmit-service-btn">
                                    <a class="pbmit-service-btn-a" href="service-details.html">
                                        <span>incele</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
