<div class="site-header-menu">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="pbmit-logo-menuarea">
                        <div class="site-branding">
                            <!-- Logo area -->
                            <h1 class="site-title">
                                <a href="index.html" rel="home">
                                    <img class="logo-img" src="~/images/logo-ihealth.png" alt="Cardioly Demo1" title="Cardioly Demo1">
                                </a>
                            </h1>
                        </div>
                        <div class="site-navigation ml-auto">
                            <nav class="main-menu navbar-expand-xl navbar-light">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="pbmit-base-icon-menu-1"></i>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown active">
                                            <a href="index.html">Anasayfa</a>
                                            <ul>
                                                <li><a href="index.html">Home page 01</a></li>
                                                <li class="active"><a href="index-02.html">Home page 02</a></li>
                                                <li><a href="index-03.html">Home page 03</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Ürünler</a>
                                            <ul>
                                                <li><a href="about-us.html" style="color: purple;">Sambucol</a></li>
                                                <li><a href="about-us2.html" style="color:#0077cc">Proprobiotic</a></li>
                                                <li><a href="our-history.html" style="color:#FF5621">Holibrange</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Kurumsal</a>
                                            <ul>
                                                <li><a href="service-details.html">Hakkımızda</a></li>
                                                <li><a href="service-details.html">Vizyon-Misyon</a></li>
                                                <li><a href="service-details.html">Tarihçe</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Kariyer</a>
                                        </li>
                                        <li><a href="contact-us.html">İletişim</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="pbmit-right-box">
                        <div class="pbmit-header-search-btn">
                            <a href="#"><i class="pbmit-base-icon-search"></i></a>
                        </div>
                        <div class="menu-right-box d-flex align-items-center">
                            <div class="pbmit-header-button">
                                <a href="contact-us.html" class="pbmit-btn">Portal Girişi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
               </div>
            </div>