<div class="site-header-menu">
	<div class="container-fuild">
		<div class="row">
			<div class="col-md-12">
				<div class="d-flex align-items-center justify-content-between">
					<div class="pbmit-logo-menuarea">
						<div class="site-branding">
							<!-- Logo area -->
							<h1 class="site-title">
								<a href="index.html" rel="home">
									<img class="logo-img" src="~/images/logo-ihealth.png" alt="Cardioly Demo1" title="Cardioly Demo1">
								</a>
							</h1>
						</div>
						<div class="site-navigation ml-auto">
							<nav class="main-menu navbar-expand-xl navbar-light">
								<div class="navbar-header">
									<!-- Toggle Button -->
									<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<i class="pbmit-base-icon-menu-1"></i>
									</button>
								</div>
								<div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation clearfix">
										<li class="dropdown active">
											<a href="index.html">Home</a>
											<ul>
												<li><a href="index.html">Home page 01</a></li>
												<li class="active"><a href="index-02.html">Home page 02</a></li>
												<li><a href="index-03.html">Home page 03</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#">Pages</a>
											<ul>
												<li><a href="about-us.html">About Us </a></li>
												<li><a href="about-us2.html">About Us 2</a></li>
												<li><a href="our-history.html">Our History</a></li>
												<li><a href="our-plans.html">Our Plans</a></li>
												<li><a href="our-team-member.html">Our Team Member</a></li>
												<li><a href="team-member-details.html">Team Member Details</a></li>
												<li><a href="faq.html">Faq</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#">Service</a>
											<ul>
												<li><a href="service-details.html">Service Detail</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#">Projects</a>
											<ul>
												<li><a href="project-style-1.html">Project Style 1</a></li>
												<li><a href="project-style-2.html">Project Style 2</a></li>
												<li><a href="project-single-details.html">Project Single Details</a></li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#">Blog</a>
											<ul>
												<li><a href="blog-classic.html">Blog Classic</a></li>
												<li><a href="blog-grid-view.html">Blog Grid View</a></li>
												<li><a href="blog-details.html">Blog Details</a></li>
											</ul>
										</li>
										<li><a href="contact-us.html">Contact Us</a></li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
					<div class="pbmit-right-box">
						<div class="pbmit-header-search-btn">
							<a href="#"><i class="pbmit-base-icon-search"></i></a>
						</div>
						<div class="menu-right-box d-flex align-items-center">
							<div class="pbmit-header-button">
								<a href="contact-us.html" class="pbmit-btn">Appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			   </div>
			</div>