@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cardioly Demo2 – Heart and Medical HTML Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/cropped-fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/rs6.css">
</head>
<body>
    <!-- page wrapper -->
    <div class="page-wrapper">

        <header class="site-header header-style-2">
            <!-- Header Main Area -->
            @await Component.InvokeAsync("TopInfoComponent")
            @await Component.InvokeAsync("MenuComponent")
            @await Component.InvokeAsync("SliderComponent")

        </header>
        <!-- Header Main Area End Here -->
        <!-- page content -->
        <div class="page-content">
            <!-- About Start -->
            @await Component.InvokeAsync("HomeAboutComponent")
            <!-- About End -->
            <!-- Service Start -->
            @await Component.InvokeAsync("CategoryComponent")
            <!-- Service End -->
            <!-- Our Benefits Start -->
            <section class="appointment-section-home3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="appointment-left-section">
                                <div class="pbmit-heading-subheading text-left">
                                    <h2 class="pbmit-title text-white" style="margin-top:2em; ">Bizimle iletişime geçmek ister misin ?</h2>
                                    <br />
                                    <p style="color:white">Bizimle paylaştığınız her düşünce ve görüş, işimizi daha iyi hale getirme yolculuğumuzda bize ışık tutar. Sizlerle birlikte, iHealth olarak daha da ileriye gitmeye ve sağlık alanında benzersiz bir deneyim sunmaya devam edeceğiz..</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="appointment-right-section">
                                <h3>İletişim Formu</h3>
                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="contact-form-section">
                                                <input type="text" class="form-control" placeholder="Your Name *" name="Your name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="contact-form-section">
                                                <input type="email" class="form-control" placeholder="Your Email *" name="Your-email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="contact-form-section">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">Select Your Doctor</option>
                                                    <option value="1">Dr. Anna Willey</option>
                                                    <option value="2">Dr. Edward Berry</option>
                                                    <option value="3">Dr. Eliza William</option>
                                                    <option value="4">Dr. Charlie Smith</option>
                                                    <option value="5">Dr. Maria Mitchell</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="contact-form-section">
                                                <textarea class="form-control" name="message" rows="4" placeholder="Comment" style="height: 100px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="contact-form-section mb-5">
                                                <input type="submit" value="Services at One Glance" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Icon box Start -->
            <section class="ihbox-section-home3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="pbmit-ihbox-style-4">
                                <div class="d-flex">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper">
                                            <i class="pbmit-cardioly-icon-online-appointment"></i>
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h4 class="pbmit-element-heading">
                                            Have any Question?
                                        </h4>
                                        <h2 class="pbmit-element-title">
                                            Book an appointment
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pbmit-ihbox-style-4">
                                <div class="d-flex">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper">
                                            <i class="pbmit-cardioly-icon-customer-service"></i>
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h4 class="pbmit-element-heading">
                                            Have care Requirement?
                                        </h4>
                                        <h2 class="pbmit-element-title">
                                            Call the hospital
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12"></div>
                    </div>
                </div>
            </section>
            <br />

            <!-- Our Benefits End -->
            <!-- Blog Start -->
            @RenderBody()
            <!-- Blog End -->

        </div>
        <!-- page content End -->
        <!-- footer -->
        @await Component.InvokeAsync("CompanySkillsComponent")
        <br />
        @await Component.InvokeAsync("FooterComponent")
        <!-- footer End -->

    </div>
    <!-- page wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
        <div class="pbmit-icon-close"></div>
        <div class="pbmit-search-outer">
            <form class="pbmit-site-searchform">
                <input type="search" class="form-control field searchform-s" name="s" placeholder="Type Word Then Press Enter">
                <button type="submit"><i class="pbmit-base-icon-search-1"></i></button>
            </form>
        </div>
    </div>
    <!-- Search Box End Here -->
    <!-- JS
       ============================================ -->
    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
    <!-- Revolution JS -->
    <script src="~/revolution/rslider.js"></script>
    <script src="~/revolution/rbtools.min.js"></script>
    <script src="~/revolution/rs6.min.js"></script>
</body>
</html>