@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cardioly Demo2 – Heart and Medical HTML Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/cropped-fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/rs6.css">
</head>
<body>
    <!-- page wrapper -->
    <div class="page-wrapper">

        <header class="site-header header-style-1">
            <!-- Header Main Area -->
            @await Component.InvokeAsync("TopInfoComponent")
            @await Component.InvokeAsync("MenuComponent")
        </header>
        @RenderBody()
        <!-- Header Main Area End Here -->
        <!-- footer -->
        @await Component.InvokeAsync("FooterComponent")
        <!-- footer End -->

    </div>
    <!-- page wrapper End -->

    <!-- JS
       ============================================ -->
    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
    <!-- Revolution JS -->
    <script src="~/revolution/rslider.js"></script>
    <script src="~/revolution/rbtools.min.js"></script>
    <script src="~/revolution/rs6.min.js"></script>
</body>
</html>