 <section class="fid-bg-section-home2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper">
                            <i class="pbmit-cardioly-icon-heartbeat"></i>
                        </div>
                        <h4 class="pbmit-fid-inner">
                            <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="500" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">250</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                        </h4>
                        <span class="pbmit-fid-title">Çalışılan eczane</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper">
                            <i class="pbmit-cardioly-icon-first-aid-kit"></i>
                        </div>
                        <h4 class="pbmit-fid-inner">
                            <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="10" data-interval="1" data-before="" data-before-style="" data-after="" data-after-style="">315</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                        </h4>
                        <span class="pbmit-fid-title">Yıllık tecrübe</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper">
                            <i class="pbmit-cardioly-icon-cardiogram-1"></i>
                        </div>
                        <h4 class="pbmit-fid-inner">
                            <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="100" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">180</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                        </h4>
                        <span class="pbmit-fid-title">Çalışan</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pbminfotech-ele-fid-style-3">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper">
                            <i class="pbmit-cardioly-icon-medical-symbol"></i>
                        </div>
                        <h4 class="pbmit-fid-inner">
                            <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="30" data-interval="1" data-before="" data-before-style="" data-after="" data-after-style="">250</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                        </h4>
                        <span class="pbmit-fid-title">Onaylı Sertifika</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>