
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title style="color:purple">Sambucol</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/cropped-fevicon.png">

    <!-- CSS
        ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Header Main Area -->
        <header class="site-header header-style-1">
            @await Component.InvokeAsync("TopInfoComponent")
            @await Component.InvokeAsync("MenuComponent")
        </header>
        <!-- Header Main Area End Here -->
        <!-- Title Bar -->
        <div class="    pbmit-title-bar-deneme">
            <div class="container">
                <div class="pbmit-title-bar-content">
                    <div class="pbmit-title-bar-content-inner">
                        <div class="pbmit-tbar">
                            <div class="pbmit-tbar-inner container">
                                <h1 class="pbmit-tbar-title">Proprobiotic</h1>
                            </div>
                        </div>
                        <div class="pbmit-breadcrumb">
                            <div class="pbmit-breadcrumb-inner">
                                <span><a title="" href="#" class="home"><span>Anasayfa</span></a></span>
                                <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                                <span><span class="post-root post post-post current-item">Sambucol</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Title Bar End-->
        <!-- Page Content -->
        <div class="page-content">

            <!-- Our Team Member -->
            <section class="section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <article class="pbmit-team-style-2">
                                <div class="pbminfotech-post-item">
                                    <div class="pbminfotech-team-image-box">
                                        <div class="pbminfotech-box-social-links">
                                            <ul class="pbmit-social-links pbmit-team-social-links">
                                            </ul>
                                        </div>
                                        <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/sambucolPlusSekersiz.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <h3 class="pbmit-team-title">
                                            <a href="~/urunler/urunbilgisi">Sambucol Plus Şekersiz Likit</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <article class="pbmit-team-style-2">
                                <div class="pbminfotech-post-item">
                                    <div class="pbminfotech-team-image-box">
                                        <div class="pbminfotech-box-social-links">
                                            <ul class="pbmit-social-links pbmit-team-social-links">
                                            </ul>
                                        </div>
                                        <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/SambucolPlusLikitSurup.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <h3 class="pbmit-team-title">
                                            <a href="team-member-details.html">Sambucol Plus Likit Şurup</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <article class="pbmit-team-style-2">
                                <div class="pbminfotech-post-item">
                                    <div class="pbminfotech-team-image-box">
                                        <div class="pbminfotech-box-social-links">
                                            <ul class="pbmit-social-links pbmit-team-social-links">
                                            </ul>
                                        </div>
                                        <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/SambucolPlusKapsul.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <h3 class="pbmit-team-title">
                                            <a href="team-member-details.html">Sambucol Plus Kapsül</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <article class="pbmit-team-style-2">
                                <div class="pbminfotech-post-item">
                                    <div class="pbminfotech-team-image-box">
                                        <div class="pbminfotech-box-social-links">
                                            <ul class="pbmit-social-links pbmit-team-social-links">

                                                <li class="pbmit-social-li pbmit-social-facebook">
                                                    <a href="#" target="_blank">
                                                        <i class="pbmit-base-icon-facebook-squared"></i>
                                                    </a>
                                                </li>
                                                <li class="pbmit-social-li pbmit-social-twitter">
                                                    <a href="#" target="_blank">
                                                        <i class="pbmit-base-icon-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="pbmit-social-li pbmit-social-youtube">
                                                    <a href="#" target="_blank">
                                                        <i class="pbmit-base-icon-youtube-play"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/SambucolPlusEferversan.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <h3 class="pbmit-team-title">
                                            <a href="team-member-details.html">Sambucol Plus Eferversan Tablet</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <article class="pbmit-team-style-2">
                                <div class="pbminfotech-post-item">
                                    <div class="pbminfotech-team-image-box">
                                        <div class="pbminfotech-box-social-links">
                                            <ul class="pbmit-social-links pbmit-team-social-links">
                                            </ul>
                                        </div>
                                        <div class="pbmit-featured-wrapper">
                                            <img src="~/images/team/SambucolPlysCıgnenebilirForm.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbminfotech-box-content">
                                        <h3 class="pbmit-team-title">
                                            <a href="team-member-details.html">Sambucol Plus Çiğnenebilir Form</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Our Team Member End -->

        </div>
        <!-- Page Content End -->
        <!-- Footer -->
        @await Component.InvokeAsync("FooterComponent")
        <!-- Footer End -->

    </div>
    <!-- Page Wrapper End -->
    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
        <div class="pbmit-icon-close"></div>
        <div class="pbmit-search-outer">
            <form class="pbmit-site-searchform">
                <input type="search" class="form-control field searchform-s" name="s" placeholder="Type Word Then Press Enter">
                <button type="submit"><i class="pbmit-base-icon-search-1"></i></button>
            </form>
        </div>
    </div>
    <!-- Search Box End Here -->
    <!-- JS
        ============================================ -->
    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script>
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
</body>
</html>





