<div class="pbmit-slider-area">
    <!-- START Slider Demo 2 REVOLUTION SLIDER 6.6.4 --><p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_2_1_wrapper" data-alias="slider-demo-2" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_2_1" style="" data-version="6.6.4">
            <rs-slides style="overflow: hidden; position: absolute;">
                <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide" data-thumb="/revolution/images/slider-02-a-100x50.jpg" data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
                    <img src="/revolution/images/dummy.png" alt="" title="slider-02-a.jpg" width="1920" height="880" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="/revolution/images/ihealth.jpg" data-bg="p:center top;" data-no-retina>
                    <rs-layer id="slider-1-slide-1-layer-0"
                              data-type="text"
                              data-color="#283454"
                              data-rsp_ch="on"
                              data-xy="xo:30px,30px,30px,15px;yo:326px,326px,196px,158px;"
                              data-text="s:62,62,50,38;l:70,70,55,44;ls:1px,1px,0px,0px;fw:800;"
                              data-frame_0="x:-50,-50,-31,-19;"
                              data-frame_1="st:1190;sp:1000;sR:1190;"
                              data-frame_999="o:0;st:w;sR:6810;"
                              style="z-index:8;font-family:'Nunito';">

                    </rs-layer><rs-layer id="slider-1-slide-1-layer-8"
                                         data-type="text"
                                         data-color="#0c263b"
                                         data-bsh="c:rgba(0,0,0,0.5);"
                                         data-rsp_ch="on"
                                         data-xy="xo:103px,103px,92px,28px;yo:261px,261px,140px,50px;"
                                         data-text="w:normal;s:13,13,13,11;l:24,24,20,24;ls:1px,1px,1px,0px;fw:800;"
                                         data-vbility="t,t,f,f"
                                         data-border="bor:6px,6px,6px,6px;"
                                         data-frame_0="y:50,50,31,19;"
                                         data-frame_1="st:320;sp:1000;sR:320;"
                                         data-frame_999="o:0;st:w;sR:7680;"
                                         style="z-index:9;background-color:rgba(255,255,255,0);font-family:'Nunito';text-transform:uppercase;box-shadow:0px 9px 35px 0px rgba(26, 47, 106, 0.07);">
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-12"
                              data-type="text"
                              data-rsp_ch="on"
                              data-xy="xo:50px,50px,31px,19px;yo:50px,50px,31px,19px;"
                              data-text="w:normal;s:20,20,12,7;l:25,25,15,9;"
                              data-frame_999="o:0;st:w;sR:8700;"
                              style="z-index:11;font-family:'Roboto';">
                    </rs-layer>
                    @*                                 <a id="slider-1-slide-1-layer-14"
                    class="rs-layer rev-btn"
                    href="http://cardioly-demo.pbminfotech.com/demo2/contact-us/" target="_blank" rel="nofollow noopener"
                    data-type="button"
                    data-color="#283454"
                    data-rsp_ch="on"
                    data-xy="xo:220px,220px,200px,165px;yo:566px,566px,390px,310px;"
                    data-text="w:normal;s:13;l:56,56,46,41;ls:1px;fw:800;"
                    data-dim="minh:0px,0px,none,none;"
                    data-padding="r:40,40,30,25;l:40,40,30,25;"
                    data-border="bos:solid;boc:#283454;bow:2px,2px,2px,2px;bor:6px,6px,6px,6px;"
                    data-frame_0="y:50,50,31,19;"
                    data-frame_1="st:2270;sp:1000;sR:2270;"
                    data-frame_999="o:0;st:w;sR:5730;"
                    data-frame_hover="c:#fff;bgc:#283454;boc:#283454;bor:6px,6px,6px,6px;bos:solid;bow:2px,2px,2px,2px;bri:120%;"
                    style="z-index:13;background-color:rgba(40,52,84,0);font-family:'Muli';text-transform:uppercase;">
                    CONTACT US
                    </a>
                    <a id="slider-1-slide-1-layer-15"
                    class="rs-layer pbmit-lightbox-video"
                    href="https://www.youtube.com/watch?v=3wpT-4bSmoU" target="_self" rel="nofollow"
                    data-type="button"
                    data-color="#ee344e"
                    data-bsh="c:rgba(0,0,0,0.5);"
                    data-rsp_ch="on"
                    data-xy="xo:30px,30px,30px,18px;yo:242px,242px,123px,75px;"
                    data-text="w:normal;s:20,20,16,9;l:60,60,50,30;a:center;"
                    data-dim="w:60px,60px,50px,30px;h:60px,60px,50px,30px;minw:60px,60px,none,none;minh:60px,60px,none,none;"
                    data-vbility="t,t,f,f"
                    data-border="bor:50%,50%,50%,50%;"
                    data-frame_0="y:50,50,31,19;"
                    data-frame_1="st:330;sp:1000;sR:330;"
                    data-frame_999="o:0;st:w;sR:7670;"
                    style="z-index:10;background-color:#ffffff;font-family:'Roboto';text-transform:uppercase;">
                    <i class="fa-play"></i>
                    </a>
                    <a id="slider-1-slide-1-layer-18"
                    class="rs-layer rev-btn"
                    href="http://cardioly-demo.pbminfotech.com/demo2/about-us/" target="_blank" rel="nofollow noopener"
                    data-type="button"
                    data-rsp_ch="on"
                    data-xy="xo:30px,30px,30px,15px;yo:566px,566px,390px,310px;"
                    data-text="w:normal;s:13;l:60,60,50,45;ls:1px;fw:700;"
                    data-dim="minh:0px,0px,none,none;"
                    data-padding="r:40,40,30,25;l:40,40,30,25;"
                    data-border="bor:6px,6px,6px,6px;"
                    data-frame_0="y:50,50,31,19;"
                    data-frame_1="st:2000;sp:1000;sR:2000;"
                    data-frame_999="o:0;st:w;sR:6000;"
                    data-frame_hover="bgc:#283454;bor:6px,6px,6px,6px;bri:120%;"
                    style="z-index:12;background-color:#ee344e;font-family:'Muli';text-transform:uppercase;">
                    Readmore
                    </a> *@
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide" data-thumb="/revolution/images/slider-02-b-100x50.jpg" data-anim="ms:600;r:0;" data-in="o:0;" data-out="a:false;">
                    <img src="/revolution/images/slider-02-b.jpg" alt="" title="slider-02-b.jpg" width="1920" height="880" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="/revolution/images/slider-02-b.jpg" data-bg="p:center top;" data-no-retina>
                    <rs-layer id="slider-1-slide-3-layer-0"
                              data-type="text"
                              data-color="#283454"
                              data-rsp_ch="on"
                              data-xy="xo:30px,30px,30px,15px;yo:326px,326px,196px,158px;"
                              data-text="s:62,62,50,38;l:70,70,55,44;ls:1px,1px,0px,0px;fw:800;"
                              data-frame_0="x:-50,-50,-31,-19;"
                              data-frame_1="st:1190;sp:1000;sR:1190;"
                              data-frame_999="o:0;st:w;sR:6810;"
                              style="z-index:8;font-family:'Nunito';">
                        Do what it takes<br>to start, to have a <br><span class="pbmit-skincolor">healthy heart.</span>

                    </rs-layer>
                    <rs-layer id="slider-1-slide-3-layer-8"
                              data-type="text"
                              data-color="#0c263b"
                              data-bsh="c:rgba(0,0,0,0.5);"
                              data-rsp_ch="on"
                              data-xy="xo:103px,103px,92px,28px;yo:261px,261px,140px,50px;"
                              data-text="w:normal;s:13,13,13,11;l:24,24,20,24;ls:1px,1px,1px,0px;fw:800;"
                              data-vbility="t,t,f,f"
                              data-border="bor:6px,6px,6px,6px;"
                              data-frame_0="y:50,50,31,19;"
                              data-frame_1="st:320;sp:1000;sR:320;"
                              data-frame_999="o:0;st:w;sR:7680;"
                              style="z-index:9;background-color:rgba(255,255,255,0);font-family:'Nunito';text-transform:uppercase;box-shadow:0px 9px 35px 0px rgba(26, 47, 106, 0.07);">
                        How it Works
                    </rs-layer>
                    <rs-layer id="slider-1-slide-3-layer-12"
                              data-type="text"
                              data-rsp_ch="on"
                              data-xy="xo:50px,50px,31px,19px;yo:50px,50px,31px,19px;"
                              data-text="w:normal;s:20,20,12,7;l:25,25,15,9;"
                              data-frame_999="o:0;st:w;sR:8700;"
                              style="z-index:11;font-family:'Roboto';">
                    </rs-layer>
                    <a id="slider-1-slide-3-layer-14"
                       class="rs-layer rev-btn"
                       href="http://cardioly-demo.pbminfotech.com/demo2/contact-us/" target="_blank" rel="nofollow noopener"
                       data-type="button"
                       data-color="#283454"
                       data-rsp_ch="on"
                       data-xy="xo:220px,220px,200px,165px;yo:566px,566px,390px,310px;"
                       data-text="w:normal;s:13;l:56,56,46,41;ls:1px;fw:800;"
                       data-dim="minh:0px,0px,none,none;"
                       data-padding="r:40,40,30,25;l:40,40,30,25;"
                       data-border="bos:solid;boc:#283454;bow:2px,2px,2px,2px;bor:6px,6px,6px,6px;"
                       data-frame_0="y:50,50,31,19;"
                       data-frame_1="st:2270;sp:1000;sR:2270;"
                       data-frame_999="o:0;st:w;sR:5730;"
                       data-frame_hover="c:#fff;bgc:#283454;boc:#283454;bor:6px,6px,6px,6px;bos:solid;bow:2px,2px,2px,2px;bri:120%;"
                       style="z-index:13;background-color:rgba(40,52,84,0);font-family:'Muli';text-transform:uppercase;">
                        CONTACT US
                    </a>
                    <a id="slider-1-slide-3-layer-15"
                       class="rs-layer pbmit-lightbox-video"
                       href="https://www.youtube.com/watch?v=3wpT-4bSmoU" target="_self" rel="nofollow"
                       data-type="button"
                       data-color="#ee344e"
                       data-bsh="c:rgba(0,0,0,0.5);"
                       data-rsp_ch="on"
                       data-xy="xo:30px,30px,30px,18px;yo:242px,242px,123px,75px;"
                       data-text="w:normal;s:20,20,16,9;l:60,60,50,30;a:center;"
                       data-dim="w:60px,60px,50px,30px;h:60px,60px,50px,30px;minw:60px,60px,none,none;minh:60px,60px,none,none;"
                       data-vbility="t,t,f,f"
                       data-border="bor:50%,50%,50%,50%;"
                       data-frame_0="y:50,50,31,19;"
                       data-frame_1="st:330;sp:1000;sR:330;"
                       data-frame_999="o:0;st:w;sR:7670;"
                       style="z-index:10;background-color:#ffffff;font-family:'Roboto';text-transform:uppercase;">
                        <i class="fa-play"></i>
                    </a>
                    <a id="slider-1-slide-3-layer-18"
                       class="rs-layer rev-btn"
                       href="http://cardioly-demo.pbminfotech.com/demo2/about-us-2/" target="_blank" rel="nofollow noopener"
                       data-type="button"
                       data-rsp_ch="on"
                       data-xy="xo:30px,30px,30px,15px;yo:566px,566px,390px,310px;"
                       data-text="w:normal;s:13;l:60,60,50,45;ls:1px;fw:700;"
                       data-dim="minh:0px,0px,none,none;"
                       data-padding="r:40,40,30,25;l:40,40,30,25;"
                       data-border="bor:6px,6px,6px,6px;"
                       data-frame_0="y:50,50,31,19;"
                       data-frame_1="st:2000;sp:1000;sR:2000;"
                       data-frame_999="o:0;st:w;sR:6000;"
                       data-frame_hover="bgc:#283454;bor:6px,6px,6px,6px;bri:120%;"
                       style="z-index:12;background-color:#ee344e;font-family:'Muli';text-transform:uppercase;">
                        Readmore
                    </a>
                </rs-slide>
            </rs-slides>
        </rs-module>
    </rs-module-wrap>
    <!-- END REVOLUTION SLIDER -->
</div>