/******************************

INDEX:

******************************/

body {
    overflow: visible;
    overflow-x: hidden;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
	.widget .footer-social-links{
		padding-top: 20px;
	}
}
@media (max-width: 1400px){
	/*=== Header ===*/
	.header-style-1 .site-branding{
		padding-left: 30px;
        padding-right: 30px;
	}
	.header-style-1 .pre-header .pbmit-social-links li {
		padding: 0 0px;
	}
	/*=== Homepage 01 ===*/
	.testimonial-section-home1{
		margin: 0% 7% 0% 7%;
	}
	.pbmit-contact-info li {
		padding: 0 10px;
	}
	.header-style-2 .pre-header{
		padding: 0 20px;
	}
	.header-style-2 .site-branding{
		margin-right: 60px;
	}
	.benefits-section-home2 .benefits-right-section{
		margin-right: -34px;
	}
	.benefits-section-home2 .benefits-main-section {
		width: 100%;
	}
	.client-main-section {
		margin-left: -122px;
	}
}
@media (min-width: 1201px){
	/*=== Header ===*/
	.header-style-1 .site-header-menu.sticky-header{
		box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	}
	.site-header.header-style-1 .site-branding img.logo-dark {
		display: none;
	}
	.site-header .site-navigation ul.navigation .righticon{
		display: none;
	}
}

@media (min-width: 1200px){
	.container, .container-lg, .container-md, .container-sm, .container-xl{
		max-width: 1200px;
	}
	.site-header .ti-angle-down:before {
		content: "";
	}
}
@media (max-width: 1200px){
	/*=== Header ===*/ 
	.site-header  i.pbmit-base-icon-menu {
		color: #273353;
	}
	.header-style-1 .site-branding{
		border: none;
	}
	.header-style-2 i.pbmit-base-icon-search-1 {
		display: none;
	}
	.header-style-1 .pbmit-header-search-btn {
		display: none;
	}
	.header-style-2 .pbmit-logo-menuarea {
		display: flex!important;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.header-style-2 i.pbmit-base-icon-menu-1 {
		color: #2c2c2c;
		font-size: 40px;
	}
	.header-style-3 .pbmit-header-search-btn {
		display: block;
		position: absolute;
		right: 30px;
	}
	/*=== Homepage 01 ===*/
	.client-main-section {
		margin-left: 0px;
	}
	.about-section-home1 .about-left-section{
		margin: 0px;
	}
	.benefits-section-home1 .benefits-right-section {
		width: auto;
	}
	.benefits-section-home1 .bg-img-section{
		padding-right: 10px;
	}
	.testimonial-section-home1 .swiper-slider {
		margin: 0;
	}
	/*=== Homepage 02 ===*/
	.provide-section-home2 .provide-left-section {
		padding: 80px 0px 80px 0px;
	}
	.blog-section-home2{
		padding-bottom: 60px!important;
	}
	.benefits-section-home2 .benefits-right-section{
		padding: 50px 15px 70px 15px;
		margin-right: 0;
    	margin-left: 0;
	}
	.benefits-section-home2 .benefits-main-section {
		width: 100%;
	}
	.benefits-section-home2 .bg-img-section{
		margin: 0;
	}
	.benefits-section-home2 .pbmit-ihbox-style-8 {
		position: absolute;
		left: 0px;
		top: 150px;
	}
	.client-section-home2 {
		margin-top: 0;
		margin-left: 0;
	}
	.testimonial-main-home2 .pbmit-heading-subheading{
		padding: 60px 0px 244px 0px;
	}
	/*=== Homepage 03 ===*/
	.header-style-3 .site-header-menu-inner{
		border-radius: 0;
	}
	.header-style-3 .site-header-menu-inner .d-flex.align-items-center.justify-content-between {
		width: 100%;
	}
	.header-style-3 .main-menu .navbar-collapse{
		top: 80px;
	}
	.tab-content .tab-ph-section{
		margin-left: 0;
	}
	.tab-content #tab-2-2 p {
		margin-left: 0;
	}
	.appointment-left-section .nav-item{
		margin-right: 12px;
	}
	.ihbox-bg-section-home3{
		background-image: none;
	}
	.about-main-section .benefits-right-section {
		padding: 60px 0px 0px 0px;
	}
}

@media(max-width:1199px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none;
    }
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding-right: calc(var(--bs-gutter-x) * .8);
		padding-left: calc(var(--bs-gutter-x) * .8);
	} 
	.sticky-header{
		position: relative  !important;
	}
    /** Main menu resoposive **/
    .navbar-toggler { 
		border: none; 
		font-size: 34px; 
		padding: 0; 
		outline: none; 
	}
    .sticky-header .navbar-toggler { 
		top: 10px; 
	}
    .navbar-toggler:hover, 
	.navbar-toggler:focus { 
		outline: none; 
	}
    .main-menu .navbar-collapse {
		position: absolute;
		width: 100%; left: 0;
		background-color: #fff;
		z-index: 99;
		top: 90px;
		border-top: 3px solid var(--pbmit-global-color);
	}
    .sticky-header .navbar-collapse {
		 top: 60px; 
	}
    .main-menu .navigation > li {
		 float: none; 
	}
    .site-header .site-navigation ul.navigation > li > a {
		height: auto; 
		line-height: inherit; 
		padding: 10px 15px; 
		margin: 0; 
		border-bottom: 1px solid rgba(9, 22, 42, 0.15); 
	}
	.site-header .site-navigation .dropdown ul li.active > a { 
		color: var(--pbmit-global-color);
	}
    .main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul {
		border-top: none; 
		box-shadow: inherit; 
		width: 100%;
		display: none; 
		position: inherit; 
		-webkit-transform: translateY(0); 
		-moz-transform: translateY(0); 
		-ms-transform: translateY(0); 
		-o-transform: translateY(0); 
		transform: translateY(0); 
	}
    .main-menu .navigation > li > ul > li > ul { 
		left: 0; 
		top: 100%; 
	}
    .main-menu .navigation > li.dropdown > ul.open, 
	.main-menu .navigation > li.dropdown > ul.open li.dropdown > ul.open {
		display: block; 
		opacity: 1; 
		visibility: visible; 
	}
    .menu-right-box { 
		position: relative; 
		right: 30px; 
		top: 10px; 
	}
	.site-header .site-navigation ul.navigation .righticon {
		font-size: 22px; 
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0; 
		border-left: 1px solid rgba(120, 120, 120, 0.2);
		height: 45px; 
		width: 45px; 
		cursor: pointer; 
		text-align: center; 
		line-height: 45px;
	}
    .site-header .menu-right-box { 
		display: none !important; 
	}
    .main-menu ul > li.dropdown > a:after{
		display: none;
	}
    /** Header responsive **/
    .site-header .header-button, 
	.site-header .pre-header { 
		display: none; 
	}
    .ipad-view-search {
		 display: block; 
	}
	.header-style-1 .site-branding {
		padding-left: 15px;
	}
    .site-header .site-branding img { 
		max-height: 45px; 
	}
    .site-header .sticky-header .site-branding img {
		 max-height: 35px; 
	}
	.flex-grow-1 {
		flex-grow: 0!important;
	}
	.header-style-1 .site-title {
		height: 100px;
	}
	.header-style-2 .main-menu .navbar-collapse{
		 top: 100px;
	}
	.site-header.header-style-2 .site-header-menu{
		padding: 0;
	}
	.header-style-2 .pbmit-slider-area{
		margin-top: 0;
	}
	.header-style-2 .pbmit-header-search-btn{
		display: none;
	}
	.header-style-3 .pbmit-header-bg{
		padding: 30px 0;
	}	
}
@media(max-width:1024px) {
	/** Section Padding **/
	.section-lgx{ 
		padding-top: 70px; 
		padding-bottom: 70px;
	}
	.section-lg{
		padding-top: 80px;
        padding-bottom: 50px;
	}
	/*=== Homepage 01 ===*/
	.about-section-home1{
		padding: 80px 0px 0px 0px;
	}
	.about-section-home1 .about-left-section .about-heading-title{
		margin: -30px 0px 35px 0px;
	}
	.about-section-home1 .pbminfotech-ele-fid-style-4{
		padding: 97px 20px;
	}
	.bg-color-section-home1{
		margin-top: -820px;
        margin-bottom: 0px;
        padding: 930px 0px 400px 0px;
	}
	.service-section-home1 {
		margin-top: -450px;
	}
	.about-section-home1 .about-img-section .about-icon-section{
		top: 363px;
        left: -61px;
	}
	.appointment-section-home1 .appointment-left-section{
		margin-top: 40px;
	}
	.offer-section-home1{
		padding: 50px 0px 50px 0px;
	}
	.offer-section-home1 .offer-left-section .offer-signechar-section{
		text-align: center;
	}
	.offer-section-home1 .accordion{
		margin-top: 50px;
	}
	.testimonial-section-home1{
		margin: 0% 2% 0% 2%;
		padding: 80px 0px 40px 0px;
	}
	.testimonial-section-home1 .swiper-horizontal>.swiper-pagination-bullets{
		display: none;
	}
	.testimonial-section-home1 .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal{
		bottom: 68px;
    	left: -160px;
	}
	.client-section-home1{
		padding: 260px 0px 80px 0px;
		margin-top: -265px;
	}
	.client-section-home1 {
		padding-bottom: 130px;
	}
	.benefits-section-home1 .benefits-bg-section{
		padding: 0px 0px 120px 0px;
		margin-bottom: 0px;
	}
	.benefits-section-home1 .benefits-bg-section .pbmit-ihbox-style-8{
		left: -15px;
        top: -100px;
	}
	.benefits-section-home1 .bg-img-section{
		padding: 60px 30px 40px 30px;
	}
	.pbminfotech-ele-fid-style-5{
		box-shadow: 1px 1px 15px 0px rgb(0 0 0 / 3%);
	}
	/*=== Homepage 2 ===*/
	.client-main-section {
		padding: 60px 15px 0px 15px;
	}
	.provide-section-home2{
		background-image: none;
	}
	.testimonial-section-home2 {
		padding: 0px 15px;
	}
	.about-section-home2 .about-right-section {
		padding: 50px 0px 0px 0px;
	}
	.benefits-section-home2 .contact-form {
		margin: 35px 0px 0px 0px!important;
	}
	.benefits-section-home2 .bg-img-section{
		padding: 300px 0 300px;
	}
	.benefits-section-home2 .pbmit-ihbox-style-8{
		left: -25px;
    	top: 350px;
	}
	.service-section-home2{
		padding: 80px 0px;
	}
	.blog-section-home2{
		padding-bottom: 30px!important;
	}
	/*=== Homepage 3 ===*/
	.service-section-home3{
		padding: 70px 0px 70px 0px;
	}
	.service-section-home3 .ihbox-right-section{
		padding-left: 0px;
	}
	.appointment-section-home3{
		padding: 80px 0px 0px 0px;
	}
	.appointment-section-home3 .appointment-right-section{
		padding: 55px 20px 4px 20px;
	}
	.appointment-left-section .nav-tabs .nav-link{
		padding: 5px 25px;
	}
	.ihbox-bg-section-home3{
		padding: 95px 0px 40px 0px;
	}
	.blog-section-home3{
		padding: 70px 0px 0px 0px;
	}
	.pricing-heading-section .pbmit-heading-subheading{
		width: 50%;
	}
	.pricing-heading-section p{
		width: 50%;
	}
	.pricing-heading-section{
		display: flex;
		align-items: end;
	}
	.pricing-ihbox-section .pbmit-ihbox-style-5{
		width: 50%;
	}
	.pricing-ihbox-section{
		display: flex;
		margin: 40px 0 30px 0;
	}
	/** Contact **/
	.contact-section-bg{
		padding: 0px 0px 80px 0px;
	}
	.contact-section-bg .contact-section-left{
		padding: 60px 10px 0px 20px;
	}
	.contact-section-right{
		padding: 60px 40px 10px 40px;
	}
	.contact-section-left .pbmit-social-links {
		margin-top: 55px;
	}
	/** About Us 2 **/
	.ihbox-bg-inner-section{
		padding: 70px 0px 20px 0px;
	}
	.client-main-inner-section{
		margin-top:-240px;
	}
	/** Our plan **/
	.fid-bg-section-home2{
		padding: 80px 15px 80px 15px;
	}
	.our-plans-section .client-section-home1 {
		padding-bottom: 70px;
	}
	/*=== pbmit-ourhistory ===*/
	.ihbox-main-section{
		padding: 70px 0px 30px 0px;
	}
	.our-history-section{
		padding: 70px 15px 20px 15px;
	}
	/** project-single-detail **/
	.project-single{
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.project-single .col-md-4:last-child{
		margin: 30px 0px 0px 0px;
	}
	/*=== Footer ===*/
	.pbmit-footer-social-icon {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.pbmit-footer-big-area .pbmit-footer-social-icon li{
		margin: 0 5px;
	}
	.pbmit-footer-logo {
		padding-right: 0;
	}
}
@media(max-width:991px) {
    /** Section Padding **/
	.section-lg{ 
		padding-top: 80px; 
		padding-bottom:60px;
	}
	.section-lgx{ 
		padding-top: 80px; 
		padding-bottom:70px;
	}
	.section-lgt{ 
		padding-top: 80px; 
	}
	.section-lgb{ 
		padding-bottom:80px;
	}
    /** Section Title **/
    .pbmit-heading-subheading h2.pbmit-title br{
        display: none;
    }
	.pbmit-heading-subheading h2.pbmit-title{
		font-size: 40px;
    	line-height: 50px;
	}
	.pbmit-heading-subheading .pbmit-element-title{
        font-size: 44px;
    	line-height: 50px;
    } 
	/*=== Title Bar ===*/
	.pbmit-header-style-2 .pbmit-title-bar-content, 
	.pbmit-header-style-2 .pbmit-title-bar-wrapper{
		min-height: 350px;
	}	
	/*=== Homepage 1 ===*/
	.bg-color-section-home1{
		margin-top: -895px;
		padding: 920px 0px 400px 0px;
	}
	.about-section-home1 .pbminfotech-ele-fid-style-4{
		padding: 60px 20px;
	}
	.about-section-home1 .about-left-section .left-last-section{
		margin-top: 90px;
	}
	.service-section-home1 {
		margin-top: -444px;
	}
	.testimonial-section-home1 .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal{
		left: -145px;
	}
	.client-section-home1{
		margin-top: -263px;
	}
	/*=== Homepage 2 ===*/
	.pbmit-miconheading-style-2 {
		margin-bottom: 30px;
	}
	.about-section-home2.section-lg {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.pbmit-testimonial-style-1:after{
		font-size: 160px;
		top: -30px;
		right: 10px;
	}
	.pbmit-ihbox-style-2{
		padding: 30px 26px 35px 26px;
	}
	/*=== Homepage 3 ===*/
	.service-section-home3 .ihbox-right-section{
		padding-left: 0px;
	}
	.pbmit-tab-style-1 {
		padding-bottom: 40px;
	}
	.appointment-left-section .nav-tabs .nav-link{
		padding: 5px 35px;
	}
	.tab-content p{
		padding-right: 0;
	}
	.pricing-heading-section .pbmit-heading-subheading{
		padding-right: 30px;
	}
	.pbmit-ihbox-style-5 .pbmit-ihbox-contents {
		margin-left: 14px;
	}
    /** Inner Section  **/ 
    .pbmit-heading-subheading .pbmit-element-title{
        font-size: 40px;
    	line-height: 46px;
    } 
	.pbmit-sidebar-left ,
	.pbmit-sidebar-right {
	    flex: 0 0 34%;
	    max-width: 34%;
	}
	.pbmit-sidebar-left,
	.pbmit-sidebar-right{
	    flex: 0 0 66%;
	    max-width: 66%;
	} 
	.blog-left-col {
		flex: auto;
		max-width: 100%;
	}
	.blog-right-col{
		max-width: 100%;
		flex: auto;
		padding-bottom: 0px;
	}
	.widget.footer-social-links {
		margin: 0!important;
	}
	.site-footer .widget {
		padding: 0;
	}
	/** Blog details*/
	.blog-right-col .comment-reply-title{
		padding-top: 15px;
	}
	.post.blog-classic:last-child {
		margin-bottom: 0;
	}
	/** Service detail **/
	.service-left-col{
		padding-top: 50px;
	}
	.service-right-col{
		padding-bottom:0px;
	}
	/** Team Member Details **/
	.pbmit-team-details .pbmit-team-img{
		margin-right: 0px;
	}
	.pbmit-team-details .pbmit-short-description{
		margin-top: 40px;
	}
	.pbmit-team-details ul.list-group.list-group-borderless{
		margin-bottom: 0px;
	}
	.pbmit-team-details .pbmit-entry-content {
		margin-bottom: 0;
	}
	/** Our plan **/
	.fid-bg-section-home2 .fid-border-section:after{
		display: none;
	}
	/** About Us 2 **/
	.client-main-inner-section {
		margin-top: -240px;
	}
	/*=== pbmit-ourhistory ===*/
	.pbmit-ourhistory .label{
		font-size: 40px;
        line-height: 40px;
	}
	/*=== project-single-detail ===*/
	.project-single{
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.project-single .post-navigation {
		margin-top: 20px;
	}
	.contact-section-bg .contact-section-left {
		padding: 60px 10px 0px 10px;
	}
	/*=== Footer ===*/
	.site-footer .widget {
		padding: 0 0 0px 0;
	}
	.pbmit-footer-logo:after{
		display: none;
	}
}

@media(max-width:767px) {
	/** Section Padding **/ 
	.section-lg{ 
		padding-top: 60px; 
		padding-bottom:70px;
	}
	.section-lgx{ 
		padding-top: 60px; 
		padding-bottom:20px;
	}
	.section-lgt{
		 padding-top: 60px; 
	}
	.section-lgb{ 
		padding-bottom:60px;
	}
    /** Section Title **/ 
	.pbmit-heading-subheading h2.pbmit-title{
		font-size: 26px;
    	line-height: 36px;
		padding-bottom: 0;
	}	
	/*=== Homepage 01 ===*/
	.swiper-button-prev.swiper-button-prev-1, 
	.swiper-button-prev.swiper-button-prev-2 {
		display: none;
	}
	.swiper-button-next.swiper-button-next-1, 
	.swiper-button-next.swiper-button-next-2 {
		display: none;
	}
	.appointment-section-home1 .appointment-right-section{
		padding: 40px 0px 0px 0px;
	}
	.appointment-section-home1 .appointment-left-section{
		margin: 40px 0px 0px 0px;
	}
	.about-section-home1 .about-left-section{
		margin: 0;
	}
	.about-section-home1 .about-left-section .left-last-section{
		margin-top: 50px;
	}
	.about-section-home1 .about-img-section .about-img-second{
		margin: 20px 0px 0px 0px;
	}
	.about-section-home1 .about-img-section .about-icon-section{
		left: 100px;
        top: 555px;
	}
	.about-section-home1 .about-left-section .pbminfotech-ele-fid-style-5{
		margin-bottom: 20px;
	}
	.bg-color-section-home1{
		margin-top: -1650px;
        padding: 1685px 0px 400px 0px;
	}
	.service-section-home1 .pbmit-heading-subheading{
		margin-bottom: 35px;
	}
	.offer-section-home1{
		padding: 30px 0px 30px 0px;
	}
	.offer-section-home1 .offer-left-section .offer-signechar-section{
		border-width: 0px 0px 0px 0px;
		text-align: left;
		margin: 30px 0px 0px 0;
	}
	.offer-section-home1 .accordion{
		margin-top: 40px;
	}
	.offer-section-home1 .accordion-style-1 .accordion-body ul{
		margin-top: 20px;
	}
	.testimonial-section-home1{
		padding: 70px 0px 25px 0px;
		margin: 0;
	}
	.pbmit-testimonial-style-2 .pbminfotech-box-content{
		text-align: center;
        padding: 40px 30px 30px;
	}
	.pbmit-testimonial-style-2 .pbminfotech-box-img:after{
		left: 50px;
	}
	.pbmit-testimonial-style-2 .pbminfotech-box-desc{
		padding-bottom: 45px;
		width: inherit;
		margin-left: 0;
		margin-top: 20px;
	}
	.testimonial-section-home1 .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal{
		left: -50px;
	}
	.benefits-section-home1 .benefits-bg-section{
		margin: 0px;
	}
	.benefits-section-home1 .bg-img-section{
		padding: 50px 15px 30px 15px;
	}
	.border-section .pbmit-ihbox-style-1{
		margin: 40px 0px 0px 0px;
	}
	.benefits-section-home1 .benefits-ph-section{
		margin-bottom: 0px;
	}
	.benefits-section-home1 .bg-img-section .border-section{
		margin: 0px;
		margin-bottom: 0px;
	}
	/*=== Homepage 02 ===*/
	.ihbox-section-home2 {
		margin: 0px;
		padding-top: 60px;
	}
	.service-section-home2{
		padding: 60px 0;
	}
	.provide-section-home2 .provide-left-section {
		padding: 50px 0px;
	}
	.about-section-home2 .about-img-section .about-fid-section{
		padding: 0px 20px 0px 20px;
	}
	.about-section-home2 .signature-img{
		padding-top: 30px;
		padding-left:0px;
	}
	.about-section-home2.section-lg{
		padding-bottom: 70px;
	}
	.client-main-section {
		padding: 60px 0px 0px;
	}
	.client-section-home2 .pbmit-client-style-1 {
		margin-bottom: 30px;
	}
	.blog-section-home2.section-lg{
		padding-top: 50px;
		padding-bottom: 0px !important;
	}
	/*=== Homepage 03 ===*/
	.pbmit-tab-style-1 {
		padding-bottom: 0px;
	}
	.about-section-home3 .pbmit-service-style-2 {
		margin-bottom: 50px;
	}
	.about-section-home3{
		margin-top: 0px;
		padding: 50px 0px 20px 0px;
	}
	.pbmit-service-style-1 {
		margin-bottom: 30px;
	}
	.service-section-home3{
		padding: 50px 0px 10px 0px;
	}
	.service-section-home3 .ihbox-right-section{
		padding-top: 30px;
	}
	.ihbox-bg-section-home3 {
		padding: 50px 0px 30px 0px;
	}
	.client-section-home3 .pbmit-client-style-1{
		margin-bottom: 40px;
	}
	.client-section-home3{
		padding: 70px 0px 30px 0px;
	}
	.blog-section-home3{
		padding: 50px 0px 0px 0px;
	}
	.blog-section-home3 .pbmit-heading-subheading{
		margin-bottom: 55px;
	}
	.pricing-heading-section .pbmit-heading-subheading {
		width: 100%;
	}
	.pricing-heading-section p {
		width: 100%;
	}
	.pricing-heading-section {
		display: block;
	}
	.pricing-ihbox-section .pbmit-ihbox-style-5 {
		width: 100%;
	}
	.pricing-ihbox-section{
		display: block;
		margin: 40px 0 50px 0;
	}
	.appointment-section-home3{
		padding-top: 60px;
	}
	.pbmit-tab-style-1 .tab-content img{
		width: auto !important;
	}
	.ihbox-section-home3{
		padding: 80px 0px 0px 0px;
        margin-top: 40px;
	}
	.ihbox-section-home3 .pbmit-ihbox-style-4{
		margin: 30px 0px 0px 0px;
	}
	.service-section-home3 .service-img-section{
		text-align: center;
	}
	.appointment-section-home3 .tab-content{
		margin-bottom: 20px;
	}
	.appointment-section-home3 .appointment-right-section{
		padding: 40px 35px 0px 35px;
	}
	.d-flex.border-section {
		display: block!important;
	}
	/*=== pbmit-ourhistory ===*/
	.ihbox-main-section {
		padding: 50px 0px 20px 0px;
	}
	.our-history-section .pbmit-timeline-inner {
		margin: 0 15px;
	}
	.pbmit-ourhistory .pbmit-ourhistory-right {
		padding-left: 50px;
	}
	.our-history-section {
		padding: 50px 0px 10px 0px;
	}
	.pbmit-ourhistory .pbmit-ourhistory-right .label{
		display: block;
	}
	.pbmit-ourhistory .label{
		display: none;
	}
	.ihbox-main-section .ihbox-heading-section{
		margin-bottom: 25px;
	}
	/*=== project-single-detail ===*/
	.project-single-sidebar-info{
		position: static;
        margin-bottom: 35px;
		margin-top: 50px;
	}
	.project-single .project-img-two{
		margin: 30px 0px 0px 0px;
	}
	.project-single .progress-bar-section{
		padding: 40px 0px 0px 0px;
	}
	.project-single .progressbar-main-section{
		padding: 0px 0px 0px 0px;
	}
	.project-single .list-group{
		margin: 20px 0px 0px 0px;
	}
	.project-single .project-single-img-section{
		margin-bottom: 35px;
	}
	.project-single .col-md-4:nth-child(2){
		margin: 25px 0px 0px 0px;
	}
	/*=== service-detail ===*/
	.service-right-col .service-second-img{
		margin: 30px 0px 0px 0px;
	}
	.service-right-col ul.list-group.list-group-borderless{
		margin-bottom: 0px;
	}
	.service-right-col .service-img-section{
		margin-top: 45px;
	}
	/*=== blog Details ===*/
	.pbmit-blog-meta-bottom-right {
		display: none;
	}
	/** Team Member Details **/
	.pbmit-team-details .pbmit-single-team-info{
		grid-template-columns: repeat(1,1fr);
	}
	.pbmit-entry-content .progressbar-main-section{
		padding: 0px;
	} 
	.pbmit-team-details .pbmit-entry-content{
		margin-bottom: 30px;
	}
	/** Contact **/
	.contact-section-bg{
		padding-bottom: 60px;
	}
	.contact-section-left{
		padding: 60px 35px 40px 35px;
	}
	.contact-section-right{
		padding: 40px 30px 10px 30px;
	}
	.contact-section-bg .contact-section-left{
		padding: 60px 35px 40px 35px;
	}
	.contact-section-left .pbmit-social-links {
		margin-top: 40px;
	}
	/** Our plan **/
	.pbmit-ptable-col{
		margin-bottom: 50px;
	}
	.fid-bg-section-home2{
		padding: 10px 0px 60px 0px;
	}
	.pbminfotech-ele-fid-style-3{
		margin: 40px 0px 0px 0px;
	}
	.client-section-home1 .col-md-2{
		width: 50%;
	}
	.client-section-home1 .pbmit-client-style-1{
		margin-bottom: 15px;
	}
	.client-section-home1{
		margin-top: -284px;
        padding: 257px 0px 50px 0px;
	}
	/*=== Footer ===*/
	.site-footer .footer-wrap.pbmit-footer-big-area .pbmit-footer-logo {
		top: 100%;
	}
	.pbmit-footer-text-inner{
		display: block;
		text-align: center;
	}
	.site-footer .footer-wrap.pbmit-footer-big-area{
		padding-bottom: 50px;
	}
	.site-footer .widget {
		margin-top: 20px;
	}
	.pbmit-footer-widget-area{
		padding-bottom: 50px;
		padding-top: 0;
	}
	.pbmit-footer-boxes:first-child {
		padding-top: 50px;
	}
	.pbmit-footer-boxes {
		padding-top: 15px;
		padding-bottom: 20px;
		margin-right: 0;
	}
	.pbmit-footer-social-icon{
		text-align: left;
	}
 	.pbmit-rpw-list > li{
		align-items: center;
	}
	.pbmit-rpw-title{
		display: block;
	}
}

@media(max-width:576px){
		.our-plans-section .client-section-home1 {
			padding-bottom: 60px;
		}
}

@media(max-width:575px) {
	/** Section Title **/ 
    .pbmit-heading-subheading 
	.pbmit-element-title{
        font-size: 32px;
    	line-height: 42px;
    }
	.section-lg {
		padding-top: 60px;
		padding-bottom: 50px;
	}
	/*=== Homepage 01 ===*/
	.signature-img {
		padding-top: 30px;
		padding-left: 0px;
	}
	.blog-section-home1{
		padding-bottom: 30px!important;
	}
	.about-main-section .benefits-right-section {
		padding: 40px 0px 0px 0px;
	}
	.about-right-section .list-group.list-group-borderless.mb-sm-0{
		margin-bottom: 0;
	}
	.accordion-decs .ps-4{
		padding-left: 0!important;
	}
	/** Blog */
	.comments-area .pbmit-blog-style-1:last-child {
		margin-bottom: 30px;
	}
	.comments-box .media{
		display: block;
	}
	.comment-meta:before{
		top: -10px;
		left: 17px;
		border-width: 0px 10px 10px 10px;
		border-color: transparent transparent #fff transparent;
	}
	.comment-meta:after{
		top: -13px;
		left: 15px; 
		border-width: 0px 12px 12px 12px;
		border-color: transparent transparent #e9e9e9 transparent;
	}
	.comment-author{
		text-align: left;
	}
	.comments-box .media{
		margin-bottom: 30px;
	}
	.action-box-wrap .row .col {
		width: 100%;
	}
	/** Blog details*/
	.pbmit-blog-meta.pbmit-blog-meta-bottom {
		display: block;
	}
	.pbmit-blog-meta-bottom-left{
		width: 100%;
	}
	.pbmit-blog-meta-bottom-right {
		width: 100%;
		margin-top: 20px;
		text-align: left;
	}
	.pbmit-author-box {
		display: block;
	}
	.pbmit-author-content {
		margin-top: 20px;
	}
	.comment-meta{
		margin-top: 25px;
	}
	.comment-respond .comment-reply-title{
		font-size: 20px;
        line-height: 30px;
	}
	.comments-box .children .media.even.depth-2{
		margin-left: 10px;
	}
	.blog-details .col-sm-6 {
		flex: 0 0 auto;
		width: 50%;
	}
	/** project-single-detail **/
	.project-single{
		padding-top: 100px;
		padding-bottom: 70px;
	}
}
@media(max-width:574px) {
	/** Our plan **/
	.client-section-home1 .col-md-2 {
		width: 100%;
	}
}
@media (max-width: 500px){
	/*=== Homepage 01 ===*/
	.about-section-home1 .about-left-section{
		margin: 0;
	}
}
@media (max-width: 1500px){
	.pbmit-pre-header-left .pbmit-label {
		display: none;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
/** project-single-detail **/	
    .project-single .col-md-4{
	width: 50%;
    }
}
