<footer class="footer site-footer">
    <div class="footer-wrap pbmit-footer-big-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="d-md-flex align-items-center">
                        <div class="pbmit-footer-logo">
                            <img class="pbmit-main-logo" src="~/images/logo-ihealth.png" alt="Cardioly Demo1">
                        </div>
                        <div class="d-md-flex">
                            <div class="pbmit-footer-boxes col-md-6">
                                <div class="pbmit-footer-contact-info">
                                    <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                        <i class="pbmit-base-icon-location"></i>
                                        <div class="pbmit-footer-contact-info-wrap">
                                            <span class="pbmit-label">Merkez Ofis</span> Maslak Sit. No: 2 D/20 Sarıyer/İstanbul
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbmit-footer-boxes col-md-6">
                                <div class="pbmit-footer-contact-info">
                                    <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                        <i class="pbmit-base-icon-phone"></i>
                                        <div class="pbmit-footer-contact-info-wrap">
                                            <span class="pbmit-label">Telefon Numarası</span> 0 (212) 274 40 46
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pbmit-footer-social-icon">
                    <ul class="pbmit-social-links">
                        <li class="pbmit-social-li pbmit-social-facebook">
                            <a href="#" target="_blank">
                                <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                            </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-twitter">
                            <a href="#" target="_blank">
                                <span><i class="pbmit-base-icon-twitter"></i></span>
                            </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-linkedin">
                            <a href="#" target="_blank">
                                <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                            </a>
                        </li>
                        <li class="pbmit-social-li pbmit-social-youtube">
                            <a href="#" target="_blank">
                                <span><i class="pbmit-base-icon-youtube-play"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pbmit-footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget pbmit-float-menu">
                        <h3 class="widget-title">Anasayfa Haritası</h3>
                        <ul>
                            <li class="menu-item ">
                                <a href="#">Anasayfa</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#" style="color:purple">Sambucol</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">Hakkımızda</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#" style="color:#0077cc">Proprobiotic</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#" style="color:#FF5621">Holibrange</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">Vizyon-Misyon</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">Tarihçe</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">Kariyer</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">İletişim</a>
                            </li>
                            <li class="menu-item ">
                                <a href="#">KVKK Metni</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pbmit-two-widget">
                        <div class="widget">
                            <h3 class="widget-title">Son Bloglar</h3>
                            <ul class="pbmit-rpw-list">
                                <li>
                                    <a href="blog-details.html">
                                        <span class="pbmit-rpw-img">
                                            <img src="~/images/blog/blog-01s.jpg" class="img-fluid" alt="">
                                        </span>
                                    </a>
                                    <span class="pbmit-rpw-content">
                                        <span class="pbmit-rpw-title"><a href="blog-details.html">Is Running Really Good for the Heart?</a></span>
                                        <span class="pbmit-rpw-date"><a href="blog-details.html">August 27, 2020</a></span>
                                    </span>
                                </li>
                                <li>
                                    <a href="blog-details.html">
                                        <span class="pbmit-rpw-img">
                                            <img src="~/images/blog/blog-02s.jpg" class="img-fluid" alt="">
                                        </span>
                                    </a>
                                    <span class="pbmit-rpw-content">
                                        <span class="pbmit-rpw-title">
                                            <a href="blog-details.html">Modeling data increase to endovascular therapy</a>
                                        </span>
                                        <span class="pbmit-rpw-date">
                                            <a href="blog-details.html">August 27, 2020</a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget">
                        <h3 class="widget-title">Bülten</h3>
                        <div>
                            Yeni haberlerden ve ürünlerle alakalı bilgilendirmeler için mail bültenine abone olabilirsiniz.
                            <div class="pbmit-footer-newsletter">
                                <input type="email" name="EMAIL" placeholder="Mail adresiniz" required="">
                                <button type="submit" value="Sign up">
                                    Bültene abone ol
                                    <i class="pbmit-base-icon-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget">
                        <h3 class="widget-title">İletişim</h3>
                        <ul class="pbmit-timelist-list">
                            <li>
                                <span class="pbmit-timelist-li-title">Telefon & Faks :</span>
                                <span class="pbmit-timelist-li-value">0 (212) 274 40 46</span>
                            </li>
                            <li>
                                <span class="pbmit-timelist-li-title">Adres :</span>
                                <span class="pbmit-timelist-li-value">Maslak Mah. Sanatkarlar Sok. Eclipse Maslak Sit. No: 2 D/20 Sarıyer/İstanbul</span>
                                
                            </li>
                            <br />
                            <li>
                                <span class="pbmit-timelist-li-title">E-Posta :</span>
                                <span class="pbmit-timelist-li-value">
                                    info@ihealth.com.tr
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pbmit-footer-section pbmit-bg-color-global">
        <div class="container">
            <div class="pbmit-footer-text-inner">
                <div class="pbmit-footer-copyright-box">
                    Copyright © 2022
                    <a href="index.html">Cardioly Demo1</a>, All Rights Reserved.
                </div>
                <div class="pbmit-footer-copyright-box mt-sm-3">
                    <ul>
                        <li class="pbmit-footer-menu li">
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li class="pbmit-footer-menu li">
                            <a href="about-us1.html">About Us 1</a>
                        </li>
                        <li class="pbmit-footer-menu li">
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>