
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<section class="section-lg blog-section-home2">
    <div class="container">
        <div class="pbmit-heading-subheading text-center">
            <h4 class="pbmit-subtitle">iHealth</h4>
            <h2 class="pbmit-title">-Blog Yazılarımız</h2>
            <div class="mt-2">
                We provide the special tips and advice's of heath care treatment and high level of best <br> technology involve in the our hospital.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="pbmit-blog-style-2">
                    <div class="post-item">
                        <div class="pbmit-featured-container">
                            <div class="pbmit-featured-wrapper">
                                <img src="~/images/blog/blog-01.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="pbmit-meta-date">
                                <span>August 27, 2020</span>
                            </div>
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbmit-meta-container">
                                <div class="pbmit-meta-author-wrapper pbmit-meta-line">
                                    <a href="blog-classic.html" title="Posted by admin" rel="author">
                                        <i class="pbmit-base-icon-user"></i> admin
                                    </a>
                                </div>
                                <div class="pbmit-meta-comment-wrapper pbmit-meta-line">
                                    <i class="pbmit-base-icon-chat-1"></i>
                                    <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                </div>
                            </div>
                            <h3 class="pbmit-post-title">
                                <a href="blog-details.html">Is Running Really Good for the Heart?</a>
                            </h3>
                            <div class="pbminfotech-box-desc">
                                <div class="pbminfotech-box-desc-text">
                                    <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                </div>
                                <div class="pbmit-read-more-link">
                                    <a href="blog-details.html">
                                        <span>Readmore</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="pbmit-blog-style-2">
                    <div class="post-item">
                        <div class="pbmit-featured-container">
                            <div class="pbmit-featured-wrapper">
                                <img src="~/images/blog/blog-02.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="pbmit-meta-date">
                                <span>August 27, 2020</span>
                            </div>
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbmit-meta-container">
                                <div class="pbmit-meta-author-wrapper pbmit-meta-line">
                                    <a href="blog-classic.html" title="Posted by admin" rel="author">
                                        <i class="pbmit-base-icon-user"></i> admin
                                    </a>
                                </div>
                                <div class="pbmit-meta-comment-wrapper pbmit-meta-line">
                                    <i class="pbmit-base-icon-chat-1"></i>
                                    <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                </div>
                            </div>
                            <h3 class="pbmit-post-title">
                                <a href="blog-details.html">Modeling data increase to endovascular therapy</a>
                            </h3>
                            <div class="pbminfotech-box-desc">
                                <div class="pbminfotech-box-desc-text">
                                    <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                </div>
                                <div class="pbmit-read-more-link">
                                    <a href="blog-details.html">
                                        <span>Readmore</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="pbmit-blog-style-2">
                    <div class="post-item">
                        <div class="pbmit-featured-container">
                            <div class="pbmit-featured-wrapper">
                                <img src="~/images/blog/blog-03.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="pbmit-meta-date">
                                <span>August 27, 2020</span>
                            </div>
                        </div>
                        <div class="pbminfotech-box-content">
                            <div class="pbmit-meta-container">
                                <div class="pbmit-meta-author-wrapper pbmit-meta-line">
                                    <a href="blog-classic.html" title="Posted by admin" rel="author">
                                        <i class="pbmit-base-icon-user"></i> admin
                                    </a>
                                </div>
                                <div class="pbmit-meta-comment-wrapper pbmit-meta-line">
                                    <i class="pbmit-base-icon-chat-1"></i>
                                    <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                </div>
                            </div>
                            <h3 class="pbmit-post-title">
                                <a href="blog-details.html">Get the Exercise Tips for Limited Mobility</a>
                            </h3>
                            <div class="pbminfotech-box-desc">
                                <div class="pbminfotech-box-desc-text">
                                    <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                </div>
                                <div class="pbmit-read-more-link">
                                    <a href="blog-details.html">
                                        <span>Readmore</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
