
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Cardioly Demo2 – Heart and Medical HTML Template</title>
      <meta name="robots" content="noindex, follow">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/cropped-fevicon.png">
      <!-- CSS
         ============================================ -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="~/css/bootstrap.min.css">
      <!-- Fontawesome -->
      <link rel="stylesheet" href="~/css/fontawesome.css">
      <!-- Flaticon -->
      <link rel="stylesheet" href="~/css/flaticon.css">
      <!-- optico Icons -->
      <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
      <!-- Themify Icons -->
      <link rel="stylesheet" href="~/css/themify-icons.css">
      <!-- Slick -->
      <link rel="stylesheet" href="~/css/swiper.min.css">
      <!-- Magnific -->
      <link rel="stylesheet" href="~/css/magnific-popup.css">
      <!-- AOS -->
      <link rel="stylesheet" href="~/css/aos.css">
      <!-- Shortcode CSS -->
      <link rel="stylesheet" href="~/css/shortcode.css">
      <!-- Base CSS -->
      <link rel="stylesheet" href="~/css/base.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="~/css/style.css">
      <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
      <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/rs6.css">
   </head>
   <body>
      <!-- page wrapper -->
      <div class="page-wrapper">

          <header class="site-header header-style-2">
         <!-- Header Main Area -->
            @await Component.InvokeAsync("TopInfoComponent")
            @await Component.InvokeAsync("MenuComponent")
            @await Component.InvokeAsync("SliderComponent")
            
         </header>
         <!-- Header Main Area End Here -->

         <!-- page content -->
         <div class="page-content">
            <!-- About Start --> 
            <section class="about-section-home2 section-lg">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-xl-6">
                        <div class="about-img-section">
                           <img src="~/images/img-05.jpg" class="img-fluid w-100" alt="">  
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="about-fid-section">
                                    <div class="pbminfotech-ele-fid-style-1">
                                       <div class="pbmit-fld-contents">
                                          <div data-to="75" class="pbmit-circle-outer d-flex" data-width="75" data-digit="85" data-fill="#ee344e" data-emptyfill="#eec3d4" data-before="" data-after="<sup> % </sup>" data-thickness="4">
                                             <div class="pbmit-circle">
                                             </div>
                                             <div class="pbmit-circle-overlay">
                                                <div class="pbmit-circle-number">85
                                                   <sup>%</sup>
                                                </div>
                                                <h3 class="pbmit-fid-title">
                                                   <span>Success Rate<br></span>
                                                </h3>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6"> </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-12 col-xl-6">
                        <div class="about-right-section">
                           <div class="pbmit-heading-subheading text-left mb-5">
                              <h4 class="pbmit-subtitle">Why Choose Us</h4>
                              <h2 class="pbmit-title text-white">We are Achieve the success of Heart Surgery</h2>
                           </div>     
                           <div class="about-ph-section">
                              We have the top level of world best heart surgery specialist expert doctors. We are used latest technology in our healthcare.
                           </div> 
                           <div class="row">
                              <div class="col-md-5">
                                 <ul class="list-group list-group-borderless mb-sm-0">
                                    <li class="list-group-item">
                                       <i class="pbmit-base-icon-ok-1"></i>100+ Expert Doctor
                                    </li>
                                    <li class="list-group-item">
                                       <i class="pbmit-base-icon-ok-1"></i>Heart patient's care
                                    </li>                       
                                 </ul>
                              </div>
                              <div class="col-md-7">
                                 <ul class="list-group list-group-borderless">
                                    <li class="list-group-item">
                                       <i class="pbmit-base-icon-ok-1"></i>Instant Checkup & Appointment
                                    </li>
                                    <li class="list-group-item">
                                       <i class="pbmit-base-icon-ok-1"></i>Medicine & Instruments
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="row align-items-center">
                              <div class="col-lg-6 col-md-5">
                                 <div class="pbmit-ihbox-style-6">
                                    <div class="d-flex">
                                       <div class="pbmit-ihbox-icon">
                                          <div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-image">
                                             <img src="~/images/icon/dr-img.png" class="img-fluid" alt="">
                                          </div>
                                       </div>
                                       <div class="pbmit-ihbox-contents">
                                          <h2 class="pbmit-element-title text-white">
                                             Jemilin D. William
                                          </h2>
                                          <div class="pbmit-heading-desc">Founder</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-7">
                                 <img src="~/images/signature-03.png" class="img-fluid signature-img" alt="">
                              </div> 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- About End --> 
            
            <!-- Service Start -->
            <section class="service-section-home2">
               <div class="container">
                  <div class="row">
                     <div class="pbmit-heading-subheading text-center">
                        <h4 class="pbmit-subtitle">What We Have</h4>
                        <h2 class="pbmit-title">Heart Care based Solutions</h2>
                        <div class="mt-2">
                           We merge two services consulting  and brilliant client Services for the patient healthcare. Used <br> latest technology in hospital.
                        </div>
                     </div>
                     <div class="col-md-4">
                        <article class="pbmit-service-style-1">
                           <div class="pbminfotech-post-item">
                              <div class="pbmit-featured-wrapper">
                                        <img src="~/images/services/service-01b.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-service-icon-wrapper">
                                    <i class="pbmit-cardioly-icon-heart-rate"></i>				
                                 </div>
                                 <div class="pbminfotech-box-content-inner">
                                    <div class="pbmit-service-cat">
                                       <a href="#" rel="tag">Surgery</a>
                                    </div>
                                    <h3 class="pbmit-service-title">
                                       <a href="service-details.html">Heart Surgery</a>
                                    </h3>
                                    <div class="pbmit-service-content">
                                       <p>The heart care hospital have best machine with the specialist doctors.</p>
                                    </div>
                                    <div class="pbmit-service-btn"> 
                                       <a class="pbmit-service-btn-a" href="service-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-md-4">
                        <article class="pbmit-service-style-1">
                           <div class="pbminfotech-post-item">
                              <div class="pbmit-featured-wrapper">
                                        <img src="~/images/services/service-02b.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-service-icon-wrapper">
                                    <i class="pbmit-cardioly-icon-heart-1"></i>				
                                 </div>
                                 <div class="pbminfotech-box-content-inner">
                                    <div class="pbmit-service-cat">
                                       <a href="#" rel="tag">Saving Lives</a>
                                    </div>
                                    <h3 class="pbmit-service-title">
                                       <a href="service-details.html">Valve Diseases</a>
                                    </h3>
                                    <div class="pbmit-service-content">
                                       <p>The heart care hospital have best machine with the specialist doctors.</p>
                                    </div>
                                    <div class="pbmit-service-btn"> 
                                       <a class="pbmit-service-btn-a" href="service-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-md-4">
                        <article class="pbmit-service-style-1">
                           <div class="pbminfotech-post-item">
                              <div class="pbmit-featured-wrapper">
                                        <img src="~/images/services/service-03b.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-service-icon-wrapper">
                                    <i class="pbmit-cardioly-icon-heart-rate"></i>				
                                 </div>
                                 <div class="pbminfotech-box-content-inner">
                                    <div class="pbmit-service-cat">
                                       <a href="#" rel="tag">Great Care</a>
                                    </div>
                                    <h3 class="pbmit-service-title">
                                       <a href="service-details.html">Children’s services</a>
                                    </h3>
                                    <div class="pbmit-service-content">
                                       <p>The heart care hospital have best machine with the specialist doctors.</p>
                                    </div>
                                    <div class="pbmit-service-btn"> 
                                       <a class="pbmit-service-btn-a" href="service-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </div>
            </section>
            <!-- Service End --> 

            <!-- Our Benefits Start -->
            <section class="benefits-section-home2">
               <div class="container g-0">
                  <div class="row g-0">
                     <div class="col-xl-3 col-md-12">
                        <div class="bg-img-section"></div> 
                        <div class="pbmit-ihbox-style-8">
                           <div class="pbmit-ihbox-box">
                              <div class="pbmit-ihbox-wrap">
                                 <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper">
                                       <i class="pbmit-cardioly-icon-speech-bubble"></i>
                                    </div>
                                 </div>
                                 <div class="pbmit-ihbox-contents">
                                    <h4 class="pbmit-element-heading">
                                       Call us 24/7
                                    </h4>
                                    <h2 class="pbmit-element-title">
                                       +1 800 123 456 789
                                    </h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-md-12">
                        <div class="benefits-right-section">
                           <div class="benefits-main-section">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="pbmit-heading-subheading">
                                       <h4 class="pbmit-subtitle">Our Benefits</h4>
                                       <h2 class="pbmit-title text-white">Online Consultant To The Patient.</h2>
                                    </div>
                                    <p>
                                       Quickly response provide our specialist doctrors to patients in online conference.
                                    </p>
                                    <div class="pbmit-ihbox-style-5 mb-5">
                                       <div class="d-flex">
                                          <div class="pbmit-ihbox-icon">
                                             <div class="pbmit-ihbox-icon-wrapper">
                                                <i class="pbmit-cardioly-icon-heart"></i>
                                             </div>
                                          </div>
                                          <div class="pbmit-ihbox-contents">
                                             <h2 class="pbmit-element-title text-white">
                                                Consultant's Service Include
                                             </h2>
                                             <div class="pbmit-heading-desc">
                                                We merge two services consultant's and excellent nursing services.
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="pbmit-ihbox-style-5">
                                       <div class="d-flex">
                                          <div class="pbmit-ihbox-icon">
                                             <div class="pbmit-ihbox-icon-wrapper">
                                                <i class="pbmit-cardioly-icon-nurse"></i>
                                             </div>
                                          </div>
                                          <div class="pbmit-ihbox-contents">
                                             <h2 class="pbmit-element-title text-white">
                                                Excellent Nursing Service
                                             </h2>
                                             <div class="pbmit-heading-desc">
                                                We merge two services consultant's and excellent nursing service.
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <form class="contact-form">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="contact-form-section">
                                                <input type="text" class="form-control" placeholder="Your Name *" name="Your name">
                                             </div>                               
                                          </div>
                                          <div class="col-md-12">
                                             <div class="contact-form-section">
                                                <input type="email" class="form-control" placeholder="Your-email*" name="Your-email"> 
                                             </div>                                  
                                          </div>
                                          <div class="col-md-12">
                                             <div class="contact-form-section">
                                                <select class="form-select" aria-label="Default select example">
                                                   <option selected="">Select Your Doctor</option>
                                                   <option value="1">Dr. Anna Willey</option>
                                                   <option value="2">Dr. Edward Berry</option>
                                                   <option value="3">Dr. Eliza William</option>
                                                   <option value="4">Dr. Charlie Smith</option>
                                                   <option value="5">Dr. Maria Mitchell</option>
                                                </select>  
                                             </div>                        
                                          </div>
                                          <div class="col-md-12">
                                             <div class="contact-form-section">
                                                <textarea class="form-control" name="message" rows="4" placeholder="Comment" style="height: 100px;"></textarea>
                                             </div>
                                          </div>
                                          <div class="col-md-12">
                                             <div class="contact-form-section">
                                                <input type="submit" value="Services at One Glance" class="form-control">
                                             </div>                           
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>  
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- Our Benefits End --> 

            <!-- fid Start -->
            <section class="fid-bg-section-home2">
               <div class="container">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                           <div class="pbmit-fld-contents">
                              <div class="pbmit-sbox-icon-wrapper">
                                 <i class="pbmit-cardioly-icon-heartbeat"></i>
                              </div>
                              <h4 class="pbmit-fid-inner">
                                 <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="250" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">250</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                              </h4>
                              <span class="pbmit-fid-title">Satisfied Patients</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                           <div class="pbmit-fld-contents">
                              <div class="pbmit-sbox-icon-wrapper">
                                 <i class="pbmit-cardioly-icon-first-aid-kit"></i>
                              </div>
                              <h4 class="pbmit-fid-inner">
                                 <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="315" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">315</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                              </h4>
                              <span class="pbmit-fid-title">Health Sections</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="pbminfotech-ele-fid-style-3 fid-border-section">
                           <div class="pbmit-fld-contents">
                              <div class="pbmit-sbox-icon-wrapper">
                                 <i class="pbmit-cardioly-icon-cardiogram-1"></i>
                              </div>
                              <h4 class="pbmit-fid-inner">
                                 <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="180" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">180</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                              </h4>
                              <span class="pbmit-fid-title">Kinds of Research</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="pbminfotech-ele-fid-style-3">
                           <div class="pbmit-fld-contents">
                              <div class="pbmit-sbox-icon-wrapper">
                                 <i class="pbmit-cardioly-icon-medical-symbol"></i>
                              </div>
                              <h4 class="pbmit-fid-inner">
                                 <span class="pbmit-number-rotate" data-appear-animation="animateDigits" data-from="0" data-to="250" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">250</span><span class="pbmit-fid-sub"><sup>+</sup></span>
                              </h4>
                              <span class="pbmit-fid-title">Award Winning</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- fid End -->
            
            <!-- Blog Start -->
            <section class="section-lg blog-section-home2">
               <div class="container">
                  <div class="pbmit-heading-subheading text-center">
                     <h4 class="pbmit-subtitle">Read Our Blog</h4>
                     <h2 class="pbmit-title">Featured News and Advices</h2>
                     <div class="mt-2">
                        We provide the special tips and advice's of heath care treatment and high level of best <br> technology involve in the our hospital. 
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-6">
                        <article class="pbmit-blog-style-2">
                           <div class="post-item">
                              <div class="pbmit-featured-container">
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/blog/blog-01.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="pbmit-meta-date">
                                    <span>August 27, 2020</span>
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-meta-container">
                                    <div class="pbmit-meta-author-wrapper pbmit-meta-line">					
                                       <a href="blog-classic.html" title="Posted by admin" rel="author">
                                          <i class="pbmit-base-icon-user"></i> admin
                                       </a>
                                    </div>
                                    <div class="pbmit-meta-comment-wrapper pbmit-meta-line">	
                                       <i class="pbmit-base-icon-chat-1"></i> 
                                       <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                    </div>
                                 </div>
                                 <h3 class="pbmit-post-title">
                                    <a href="blog-details.html">Is Running Really Good for the Heart?</a>
                                 </h3>
                                 <div class="pbminfotech-box-desc">
                                    <div class="pbminfotech-box-desc-text">
                                       <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                    </div>
                                    <div class="pbmit-read-more-link">
                                       <a href="blog-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-lg-4 col-md-6">
                        <article class="pbmit-blog-style-2">
                           <div class="post-item">
                              <div class="pbmit-featured-container">
                                 <div class="pbmit-featured-wrapper">
                                    <img src="~/images/blog/blog-02.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="pbmit-meta-date">
                                    <span>August 27, 2020</span>
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-meta-container">
                                    <div class="pbmit-meta-author-wrapper pbmit-meta-line">					
                                       <a href="blog-classic.html" title="Posted by admin" rel="author">
                                          <i class="pbmit-base-icon-user"></i> admin
                                       </a>
                                    </div>
                                    <div class="pbmit-meta-comment-wrapper pbmit-meta-line">	
                                       <i class="pbmit-base-icon-chat-1"></i> 
                                       <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                    </div>
                                 </div>
                                 <h3 class="pbmit-post-title">
                                    <a href="blog-details.html">Modeling data increase to endovascular therapy</a>
                                 </h3>
                                 <div class="pbminfotech-box-desc">
                                    <div class="pbminfotech-box-desc-text">
                                       <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                    </div>
                                    <div class="pbmit-read-more-link">
                                       <a href="blog-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-lg-4 col-md-6">
                        <article class="pbmit-blog-style-2">
                           <div class="post-item">
                              <div class="pbmit-featured-container">
                                 <div class="pbmit-featured-wrapper">
                                            <img src="~/images/blog/blog-03.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="pbmit-meta-date">
                                    <span>August 27, 2020</span>
                                 </div>
                              </div>
                              <div class="pbminfotech-box-content">
                                 <div class="pbmit-meta-container">
                                    <div class="pbmit-meta-author-wrapper pbmit-meta-line">					
                                       <a href="blog-classic.html" title="Posted by admin" rel="author">
                                          <i class="pbmit-base-icon-user"></i> admin
                                       </a>
                                    </div>
                                    <div class="pbmit-meta-comment-wrapper pbmit-meta-line">	
                                       <i class="pbmit-base-icon-chat-1"></i> 
                                       <span class="pbmit-meta pbmit-meta-comments">Comments</span>
                                    </div>
                                 </div>
                                 <h3 class="pbmit-post-title">
                                    <a href="blog-details.html">Get the Exercise Tips for Limited Mobility</a>
                                 </h3>
                                 <div class="pbminfotech-box-desc">
                                    <div class="pbminfotech-box-desc-text">
                                       <p>There are lorem ipsum is simply free many variations of Ipsum the majority suffered.</p>
                                    </div>
                                    <div class="pbmit-read-more-link">
                                       <a href="blog-details.html">
                                          <span>Readmore</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </div>
            </section>
            <!-- Blog End -->

         </div>
         <!-- page content End -->

         <!-- footer -->
         <footer class="footer site-footer">
            <div class="footer-wrap pbmit-footer-big-area">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-9">
                        <div class="d-md-flex align-items-center">
                           <div class="pbmit-footer-logo">
                                    <img class="pbmit-main-logo" src="~/images/logo-1.png" alt="Cardioly Demo1">
                           </div>
                           <div class="d-md-flex">
                              <div class="pbmit-footer-boxes col-md-6">
                                 <div class="pbmit-footer-contact-info">
                                    <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                       <i class="pbmit-base-icon-location"></i>
                                       <div class="pbmit-footer-contact-info-wrap">
                                          <span class="pbmit-label">Our Clinic Address</span> 456, Lorem Street, USA
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="pbmit-footer-boxes col-md-6">
                                 <div class="pbmit-footer-contact-info">
                                    <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                       <i class="pbmit-base-icon-phone"></i>
                                       <div class="pbmit-footer-contact-info-wrap">
                                          <span class="pbmit-label">Phone Number</span> (+00)888.666.88
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 pbmit-footer-social-icon">
                        <ul class="pbmit-social-links">
                           <li class="pbmit-social-li pbmit-social-facebook">
                              <a href="#" target="_blank">
                                 <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                              </a>
                           </li>
                           <li class="pbmit-social-li pbmit-social-twitter">
                              <a href="#" target="_blank">
                                 <span><i class="pbmit-base-icon-twitter"></i></span>
                              </a>
                           </li>
                           <li class="pbmit-social-li pbmit-social-linkedin">
                              <a href="#" target="_blank">
                                 <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                              </a>
                           </li>
                           <li class="pbmit-social-li pbmit-social-youtube">
                              <a href="#" target="_blank">
                                 <span><i class="pbmit-base-icon-youtube-play"></i></span>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pbmit-footer-widget-area">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6 col-lg-3">
                        <div class="widget pbmit-float-menu">
                           <h3 class="widget-title">Information</h3>
                           <ul>
                              <li class="menu-item ">
                                 <a href="#">About Us</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Customer</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Service</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Collections</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Best Seller</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Careers</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Privacy Policy</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Change Location</a>
                              </li>
                              <li class="menu-item ">
                                 <a href="#">Expert Tips</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="pbmit-two-widget">
                           <div class="widget">
                              <h3 class="widget-title">Latest News</h3>
                              <ul class="pbmit-rpw-list">
                                 <li>
                                    <a href="blog-details.html">
                                       <span class="pbmit-rpw-img">
                                                    <img src="~/images/blog/blog-01s.jpg" class="img-fluid" alt="">
                                       </span>
                                    </a>
                                    <span class="pbmit-rpw-content">
                                       <span class="pbmit-rpw-title"><a href="blog-details.html">Is Running Really Good for the Heart?</a></span>
                                       <span class="pbmit-rpw-date"><a href="blog-details.html">August 27, 2020</a></span>
                                    </span>
                                 </li>
                                 <li>
                                    <a href="blog-details.html">
                                       <span class="pbmit-rpw-img">
                                                    <img src="~/images/blog/blog-02s.jpg" class="img-fluid" alt="">
                                       </span>
                                    </a>
                                    <span class="pbmit-rpw-content">
                                       <span class="pbmit-rpw-title">
                                          <a href="blog-details.html">Modeling data increase to endovascular therapy</a>
                                       </span>
                                       <span class="pbmit-rpw-date">
                                          <a href="blog-details.html">August 27, 2020</a>
                                       </span>
                                    </span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="widget">
                           <h3 class="widget-title">Newsletter</h3>
                           <div>Sign up today for hints, tips and the latest product news
                              <div class="pbmit-footer-newsletter">
                                 <input type="email" name="EMAIL" placeholder="Your email address" required="">	
                                 <button type="submit" value="Sign up">Submit 
                                    <i class="pbmit-base-icon-paper-plane"></i>
                                 </button> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="widget">
                           <h3 class="widget-title">Opening Hours</h3>
                           <ul class="pbmit-timelist-list">
                              <li><span class="pbmit-timelist-li-title">Mon – Tue</span>
                                 <span class="pbmit-timelist-li-value">10:00 – 18:00</span>
                              </li>
                              <li><span class="pbmit-timelist-li-title">Wed – Thur</span>
                                 <span class="pbmit-timelist-li-value">10:00 – 17:00</span>
                              </li>
                              <li><span class="pbmit-timelist-li-title">Fri – Sat</span>
                                 <span class="pbmit-timelist-li-value">10:00 – 12:30</span>
                              </li>
                              <li><span class="pbmit-timelist-li-title">Saturday</span>
                                 <span class="pbmit-timelist-li-value">10:00 – 12:30</span>
                              </li>
                              <li><span class="pbmit-timelist-li-title">Sunday</span>
                                 <span class="pbmit-timelist-li-value">Closed</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pbmit-footer-section pbmit-bg-color-global">
               <div class="container">
                  <div class="pbmit-footer-text-inner">   
                     <div class="pbmit-footer-copyright-box"> Copyright © 2022 
                        <a href="index.html">Cardioly Demo1</a>, All Rights Reserved.
                     </div>
                     <div class="pbmit-footer-copyright-box mt-sm-3">
                        <ul>
                           <li class="pbmit-footer-menu li">
                              <a href="faq.html">FAQ</a>
                           </li>
                           <li class="pbmit-footer-menu li">
                              <a href="about-us1.html">About Us 1</a>
                           </li>
                           <li class="pbmit-footer-menu li">
                              <a href="contact-us.html">Contact Us</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>	
         </footer>
         <!-- footer End -->

      </div>
      <!-- page wrapper End -->

   <!-- Search Box Start Here -->
   <div class="pbmit-search-overlay">
      <div class="pbmit-icon-close"></div>
      <div class="pbmit-search-outer"> 
         <form class="pbmit-site-searchform">
            <input type="search" class="form-control field searchform-s" name="s" placeholder="Type Word Then Press Enter">
            <button type="submit"><i class="pbmit-base-icon-search-1"></i></button>
         </form>
      </div>
   </div>
   <!-- Search Box End Here -->

      <!-- JS
         ============================================ -->
      <!-- jQuery JS -->
      <script src="~/js/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="~/js/popper.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="~/js/bootstrap.min.js"></script>
      <!-- jquery Waypoints JS -->
      <script src="~/js/jquery.waypoints.min.js"></script>
      <!-- jquery Appear JS -->
      <script src="~/js/jquery.appear.js"></script>
      <!-- Numinate JS -->
      <script src="~/js/numinate.min.js"></script>
      <!-- Slick JS -->
      <script src="~/js/swiper.min.js"></script>
      <!-- Magnific JS -->
      <script src="~/js/jquery.magnific-popup.min.js"></script>
      <!-- Circle Progress JS -->
      <script src="~/js/circle-progress.js"></script> 
      <!-- countdown JS -->
      <script src="~/js/jquery.countdown.min.js"></script> 
      <!-- AOS -->
      <script src="~/js/aos.js"></script>
      <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
      <!-- Revolution JS -->
      <script src="~/revolution/rslider.js"></script>
      <script src="~/revolution/rbtools.min.js"></script>
    <script src="~/revolution/rs6.min.js"></script>
   </body>
</html>