<section class="about-section-home2 section-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="about-img-section">
                    <img src="~/images/vitamins.jpg" class="img-fluid w-100" alt="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-fid-section">
                                <div class="pbminfotech-ele-fid-style-1">
                                    <div class="pbmit-fld-contents">
                                        <div data-to="75" class="pbmit-circle-outer d-flex" data-width="75" data-digit="85" data-fill="#ee344e" data-emptyfill="#eec3d4" data-before="" data-after="<sup> % </sup>" data-thickness="4">
                                            <div class="pbmit-circle">
                                            </div>
                                            <div class="pbmit-circle-overlay">
                                                <div class="pbmit-circle-number">
                                                    85
                                                    <sup>%</sup>
                                                </div>
                                                <h3 class="pbmit-fid-title">
                                                    <span>Success Rate<br></span>
                                                </h3>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6">
                <div class="about-right-section">
                    <div class="pbmit-heading-subheading text-left mb-5">
                        <h4 class="pbmit-subtitle">Why Choose Us</h4>
                        <h2 class="pbmit-title text-white">
                            ÇÜNKÜ HER ŞEYİN BAŞI
                            SAĞLIK
                        </h2>
                    </div>
                    <div class="about-ph-section">
                        iHealth, kuruluşundan bu yana Türkiye İlaç Pazarı’nın hızlı ve istikrarlı büyüyen, dünyadaki gelişmeleri yakından takip eden, başladığı günden itibaren kaliteyi yaşam tarzı olarak benimsemiş ve yılların verdiği deneyim ve uzmanlığa dayanarak müşteri memnuniyetini ön planda tutan, insan sağlığına katkıda bulunmayı temel amaç edinmiş bir kurumdur. Bulunduğumuz pazara en iyi ürünleri sunabilmek için hiç durmandan çalışıyoruz.
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="list-group list-group-borderless mb-sm-0">
                                <li class="list-group-item">
                                    <i class="pbmit-base-icon-ok-1"></i>100+ Expert Doctor
                                </li>
                                <li class="list-group-item">
                                    <i class="pbmit-base-icon-ok-1"></i>Heart patient's care
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul class="list-group list-group-borderless">
                                <li class="list-group-item">
                                    <i class="pbmit-base-icon-ok-1"></i>Instant Checkup & Appointment
                                </li>
                                <li class="list-group-item">
                                    <i class="pbmit-base-icon-ok-1"></i>Medicine & Instruments
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-5">
                            <div class="pbmit-ihbox-style-6">
                                <div class="d-flex">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-image">
                                            <img src="~/images/icon/dr-img.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title text-white">
                                            Jemilin D. William
                                        </h2>
                                        <div class="pbmit-heading-desc">Founder</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <img src="~/images/signature-03.png" class="img-fluid signature-img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>